.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px; }

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px; }

.bs-callout p:last-child {
  margin-bottom: 0; }

.bs-callout code {
  border-radius: 3px; }

.bs-callout + .bs-callout {
  margin-top: -5px; }

.bs-callout-default {
  border-left-color: #777; }

.bs-callout-default h4 {
  color: #777; }

.bs-callout-primary {
  border-left-color: #428bca; }

.bs-callout-primary h4 {
  color: #428bca; }

.bs-callout-success {
  border-left-color: #5cb85c; }

.bs-callout-success h4 {
  color: #5cb85c; }

.bs-callout-danger {
  border-left-color: #d9534f; }

.bs-callout-danger h4 {
  color: #d9534f; }

.bs-callout-warning {
  border-left-color: #f0ad4e; }

.bs-callout-warning h4 {
  color: #f0ad4e; }

.bs-callout-info {
  border-left-color: #5bc0de; }

.bs-callout-info h4 {
  color: #5bc0de; }

.user-panel .image img {
  max-width: 35px; }

.navbar-nav .dropdown-menu {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2) !important; }

.main-header a.logo .logo-mini img {
  max-width: 41px;
  max-height: 41px; }
.main-header a.logo .logo-lg img {
  max-width: 200px;
  max-height: 41px; }

.main-footer {
  box-sizing: content;
  height: 30px !important;
  padding: 3px 15px !important; }
  .main-footer span#logo img {
    vertical-align: text-bottom;
    max-height: 22px; }

.nav-tabs-custom .tab-content {
  padding: 20px; }

i.form-control-feedback {
  display: block !important;
  line-height: 34px !important;
  color: #ddd !important; }

@media (max-width: 767px) {
  .skin-black .main-header > .logo {
    background-color: #d2d6de; }
    .skin-black .main-header > .logo:hover {
      background-color: #fff; } }
ul.gridster.widget-container {
  list-style: none; }
  ul.gridster.widget-container li.widget .widget-outer {
    width: 100%;
    height: 100%;
    position: relative; }
    ul.gridster.widget-container li.widget .widget-outer .box-header {
      cursor: all-scroll;
      padding: 2px 10px;
      color: #fff;
      background-color: #3c8dbc;
      position: absolute;
      top: 0;
      width: 100%;
      height: 25px;
      z-index: 11; }
      ul.gridster.widget-container li.widget .widget-outer .box-header h3 {
        font-size: 14px;
        font-weight: bold; }
      ul.gridster.widget-container li.widget .widget-outer .box-header .controls a {
        color: #fff;
        margin-left: 10px; }
      ul.gridster.widget-container li.widget .widget-outer .box-header select {
        color: #333 !important; }
    ul.gridster.widget-container li.widget .widget-outer .box-body.content {
      width: 100%;
      box-sizing: border-box;
      position: absolute;
      box-sizing: border-box;
      padding: 35px 10px 10px 10px;
      height: 100%;
      min-height: 100%;
      z-index: 10;
      overflow: hidden !important; }
    ul.gridster.widget-container li.widget .widget-outer .box-body iframe {
      display: inline;
      width: 100%;
      height: 100%;
      border: 0px solid #cccccc;
      box-sizing: border-box; }
    ul.gridster.widget-container li.widget .widget-outer .box-body .settings {
      width: 100%; }
      ul.gridster.widget-container li.widget .widget-outer .box-body .settings h3 {
        margin-top: 0;
        margin-bottom: 5px; }
    ul.gridster.widget-container li.widget .widget-outer .box-body .display.contain {
      max-width: 100%;
      max-height: 100%;
      overflow: auto; }
    ul.gridster.widget-container li.widget .widget-outer .box-body .display h1 {
      margin: 0 0 10px 0;
      font-weight: bold; }

#widget_selections a.widget_select {
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  display: block; }
  #widget_selections a.widget_select:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000; }

.blink {
  animation: blinker 1s linear infinite; }

@keyframes blinker {
  50% {
    opacity: 0.0; } }
.crud_container {
  margin: 0 5px;
  color: #999; }
  .crud_container .crud {
    margin: 0 5px;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px; }
    .crud_container .crud .fa-pencil-square, .crud_container .crud .fa-pencil-square-o {
      color: #336; }
    .crud_container .crud .fa-plus-square {
      color: #363; }
    .crud_container .crud .fa-times-circle {
      color: #933; }
    .crud_container .crud:hover {
      color: #000; }

.button, .link {
  cursor: pointer; }

.nav-tabs-custom {
  background-color: transparent !important;
  box-shadow: none; }

.nav.nav-tabs li.active {
  font-weight: bold; }

.row .form-control-feedback {
  right: 15px; }

ul.chosen-choices {
  padding: 3px 5px !important;
  border: solid 1px #d2d6de !important;
  background-image: none !important; }
  ul.chosen-choices li.search-choice {
    background-image: none !important;
    background-color: #3c8dbc !important;
    border-color: #3c8dbc !important;
    color: #fff !important;
    box-shadow: none !important; }
  ul.chosen-choices a.search-choice-close:after {
    content: 'x';
    font-size: 14px;
    font-weight: bold;
    line-height: 10px;
    color: #000 !important;
    background-image: none !important;
    background: none !important; }
    ul.chosen-choices a.search-choice-close:after:hover {
      color: #fff !important; }
  ul.chosen-choices a.search-choice-close {
    background-image: none !important;
    background: none !important; }
    ul.chosen-choices a.search-choice-close:hover {
      color: #fff !important; }

ul.chosen-results li.highlighted {
  background-image: none !important;
  background-color: #3c8dbc !important;
  color: #fff !important; }

.chosen-container-active ul.chosen-choices {
  border-color: #3c8dbc !important;
  box-shadow: none !important; }

.chosen-container.chosen-container-single {
  width: auto !important; }

.chosen-container.chosen-container-multi {
  width: 100% !important; }

#add_account {
  margin-left: 20px;
  cursor: pointer; }

.preamble {
  padding: 0 0 10px 0;
  margin-left: 5px; }

#account_list {
  width: 100%; }
  #account_list .row {
    background-color: rgba(255, 255, 255, 0.5); }

.account_container {
  border-top: solid 1px #ccc;
  padding: 20px 0 0 0; }
  .account_container .title {
    font-size: 21px;
    font-weight: bold; }
  .account_container #account_active.fa-toggle-on {
    color: #363; }
  .account_container #account_active.fa-toggle-off {
    color: #999; }
  .account_container #account_name {
    display: none;
    max-width: 90%; }
  .account_container #account_buttons {
    display: none; }
  .account_container.rw #account_name {
    display: inline !important; }
  .account_container.rw #account_name_label {
    display: none; }
  .account_container.rw #account_crud {
    display: none; }
  .account_container.rw #account_buttons {
    display: inline !important; }
  .account_container.rw #account_active {
    cursor: pointer; }
  .account_container .site_list {
    margin-bottom: 20px; }
    .account_container .site_list #header {
      margin: 10px 0 5px 30px; }
    .account_container .site_list .row {
      padding-left: 20px; }

.site_container {
  margin-top: 10px;
  border-top: dashed 1px #ccc;
  box-sizing: content-box;
  padding: 10px 0 0 10px; }
  .site_container > div {
    padding-left: 10px; }
  .site_container .label {
    color: #666;
    font-style: italic;
    display: inline-block;
    text-align: left;
    font-weight: normal;
    font-size: 12px; }
    .site_container .label.left {
      min-width: 85px !important;
      margin-right: 5px;
      padding: 0 0 0 5px; }
    .site_container .label.right {
      padding: 0 0 0 0;
      margin-left: 5px; }
  .site_container .fa-toggle-on {
    color: #363;
    cursor: pointer; }
  .site_container .fa-toggle-off {
    color: #999;
    cursor: pointer; }
  .site_container #site_name {
    max-width: 90%; }
  .site_container #site_refresh_rate {
    text-align: right; }
  .site_container #site_buttons {
    margin-top: 10px; }
  .site_container .edit {
    display: none; }
  .site_container.rw .edit {
    display: inline-block !important; }
  .site_container.rw .display {
    display: none !important; }
  .site_container.rw #site_buttons {
    display: block !important; }

#permissions_region h4, #roles_region h4 {
  margin: 0px 0 0 -5px;
  background-color: #f6f6f6;
  padding: 5px 0 5px 13px; }
#permissions_region h3, #roles_region h3 {
  margin: 0;
  background-color: #cbe1ee;
  padding: 5px 0 5px 5px; }
#permissions_region #global_region, #roles_region #global_region {
  padding-bottom: 20px; }
  #permissions_region #global_region h3, #roles_region #global_region h3 {
    margin-left: -5px; }
#permissions_region .site_item, #roles_region .site_item {
  margin-bottom: 10px; }

#add_claim {
  cursor: pointer;
  margin-left: 30px;
  color: #00a65a; }

#permissions_list {
  padding: 0 0 0 10px; }

.permission_container {
  padding: 5px 0 5px 20px;
  width: 100%;
  border-top: 1px dashed #ccc; }
  .permission_container i.fa.fa-lock {
    color: #ccc; }
  .permission_container #permission_label {
    font-size: 18px; }
  .permission_container #permission_desc_container {
    padding-left: 36px; }
  .permission_container #permission_name, .permission_container #permission_buttons, .permission_container #permission_desc {
    display: none; }
  .permission_container.rw #permission_name, .permission_container.rw #permission_desc {
    display: inline !important; }
  .permission_container.rw #permission_label, .permission_container.rw #permission_desc_label {
    display: none !important; }
  .permission_container.rw #permission_crud {
    display: none; }
  .permission_container.rw #permission_buttons {
    display: inline !important; }

#add_role {
  cursor: pointer;
  margin-left: 30px;
  color: #00a65a; }

#roles_list {
  padding: 0 0 0 20px; }

.role_container {
  padding: 5px 0 5px 10px;
  width: 100%;
  border-top: 1px dashed #ccc; }
  .role_container i.fa.fa-group {
    color: #ccc; }
  .role_container #role_label {
    font-size: 18px; }
  .role_container #role_desc_container {
    padding-left: 36px; }
  .role_container #role_claims_container {
    padding-left: 36px; }
  .role_container #role_name, .role_container #role_buttons, .role_container #role_desc {
    display: none; }
  .role_container.rw #role_name, .role_container.rw #role_desc {
    display: inline !important; }
  .role_container.rw #role_label, .role_container.rw #role_desc_label {
    display: none !important; }
  .role_container.rw #role_crud {
    display: none; }
  .role_container.rw #role_buttons {
    display: inline !important; }

.user_container {
  padding: 20px 0 20px 10px;
  border-top: 1px dashed #ccc; }
  .user_container .edit {
    display: none; }
  .user_container.rw .edit {
    display: block !important; }
  .user_container.rw .display {
    display: none !important; }
  .user_container #user_label {
    font-size: 18px;
    color: #333;
    font-weight: bold; }
    .user_container #user_label small {
      color: #666;
      font-weight: normal; }
  .user_container h3.account_name {
    margin: 0 0 10px 0;
    background-color: #cbe1ee;
    padding: 5px 0 5px 5px; }
  .user_container .account_container {
    border: none !important;
    padding: 0;
    margin: 0; }
  .user_container #user_buttons {
    margin-left: 15px; }

.login-box .login-logo img {
  max-width: 300px;
  height: auto; }

* {
  outline: none; }

a.inline {
  display: inline !important;
  padding: 0;
  margin: 0 0 0 10px;
  border-left: none !important; }
  a.inline:hover, a.inline:focus {
    border-left: none !important;
    background-color: transparent !important; }

li.dashboard-link {
  position: relative; }
  li.dashboard-link .controls {
    display: none;
    position: absolute;
    right: 0;
    top: 13px;
    z-index: 9999; }
    li.dashboard-link .controls i.fa {
      margin-right: 5px; }
    li.dashboard-link .controls a:hover {
      color: #fff; }
  li.dashboard-link:hover .controls {
    display: block; }

.loading {
  text-align: center;
  font-size: 24px;
  color: #ccc;
  margin: 40px 0 40px; }

/* Airport Widget Styles */
.airport_widget.alarm {
  background-color: #c00;
  color: #fff; }
.airport_widget.DAL_account .display div[id^='Airport_Gate_'], .airport_widget.DAL_account .display #Airport_Overview {
  min-height: 100%;
  min-width: 100%;
  overflow: auto;
  position: absolute;
  top: 25px;
  left: 0px; }
.airport_widget.DAL_account .display #key {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999;
  border-radius: 10px;
  padding: 10px; }
  .airport_widget.DAL_account .display #key .alarm {
    color: #c00; }
  .airport_widget.DAL_account .display #key .warning {
    color: #f90; }
  .airport_widget.DAL_account .display #key .perfect {
    color: #090; }
.airport_widget.DAL_account .display #display_label {
  display: none; }
.airport_widget.DAL_account .display div[id^='Airport_Gate_'] {
  z-index: 1000; }
.airport_widget.DAL_account .display #Airport_Overview {
  margin-top: 25px; }
  .airport_widget.DAL_account .display #Airport_Overview #layout {
    width: 100%;
    height: auto; }
  .airport_widget.DAL_account .display #Airport_Overview #layout_container {
    position: absolute;
    top: 0;
    left: 0; }
.airport_widget.DAL_account .display #Airport_Gate_10_a {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  background-image: url("../img/airport/DAL/DAL_Gate_10.png");
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0; }
  .airport_widget.DAL_account .display #Airport_Gate_10_a.docked {
    background-image: url("../img/airport/DAL/DAL_Gate_10_Plane.png"); }
  .airport_widget.DAL_account .display #Airport_Gate_10_a.bad_data {
    background-image: url("../img/airport/DAL/DAL_Gate_10_bad_data.png"); }
  .airport_widget.DAL_account .display #Airport_Gate_10_a .icon {
    font-size: 18px;
    left: 52%;
    top: 53%;
    position: absolute;
    border-radius: 3px;
    padding: 2px; }
    .airport_widget.DAL_account .display #Airport_Gate_10_a .icon i {
      text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff; }
      .airport_widget.DAL_account .display #Airport_Gate_10_a .icon i.alarm {
        color: #c00; }
      .airport_widget.DAL_account .display #Airport_Gate_10_a .icon i.warning {
        color: #f90; }
      .airport_widget.DAL_account .display #Airport_Gate_10_a .icon i.perfect {
        color: #090; }
.airport_widget.DAL_account .display #Airport_Gate_12_a {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  background-image: url("../img/airport/DAL/DAL_Gate_12.png");
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0; }
  .airport_widget.DAL_account .display #Airport_Gate_12_a.docked {
    background-image: url("../img/airport/DAL/DAL_Gate_12_Plane.png"); }
  .airport_widget.DAL_account .display #Airport_Gate_12_a.bad_data {
    background-image: url("../img/airport/DAL/DAL_Gate_12_bad_data.png"); }
  .airport_widget.DAL_account .display #Airport_Gate_12_a .icon {
    font-size: 18px;
    left: 59%;
    top: 46%;
    position: absolute;
    border-radius: 3px;
    padding: 2px; }
    .airport_widget.DAL_account .display #Airport_Gate_12_a .icon i {
      text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff; }
      .airport_widget.DAL_account .display #Airport_Gate_12_a .icon i.alarm {
        color: #c00; }
      .airport_widget.DAL_account .display #Airport_Gate_12_a .icon i.warning {
        color: #f90; }
      .airport_widget.DAL_account .display #Airport_Gate_12_a .icon i.perfect {
        color: #090; }

/* Gate Widget Styles */
.gate_widget.alarm {
  background-color: #c00;
  color: #fff; }
.gate_widget .display {
  min-height: 100%;
  min-width: 100%;
  overflow: auto; }
  .gate_widget .display #aircraft_img {
    position: absolute;
    left: 45%;
    top: 20%;
    background-image: url("../img/pbb/DockingPlane.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 100%;
    width: 100%; }
    .gate_widget .display #aircraft_img.docked {
      background-image: url("../img/pbb/DockingPlane.png"); }
  .gate_widget .display #display_label {
    margin-bottom: 3px; }
    .gate_widget .display #display_label h1 {
      line-height: 48px;
      font-weight: bold;
      margin: 0 0 0 0; }
      .gate_widget .display #display_label h1 i.fa {
        margin-right: -5px;
        padding: 5px;
        border-radius: 10px;
        font-size: 26px !important; }
      .gate_widget .display #display_label h1 i#docked {
        color: #069 !important;
        background-color: #eee !important; }
      .gate_widget .display #display_label h1 i#alarms {
        color: #fff !important;
        background-color: #c00 !important; }
      .gate_widget .display #display_label h1 i#warnings {
        color: #f90 !important;
        background-color: #eee !important; }
.gate_widget table.data {
  border: solid 1px #999;
  border-spacing: 1px;
  border-collapse: separate; }
  .gate_widget table.data td {
    padding: 3px 10px;
    background-color: #eee;
    color: #999; }
    .gate_widget table.data td.lbl {
      background-color: #fff;
      font-style: italic;
      color: #333;
      border-bottom: solid 1px #ddd; }
    .gate_widget table.data td.val {
      font-weight: bold; }
    .gate_widget table.data td.err {
      color: #fe6;
      background-color: #c33; }
    .gate_widget table.data td.ok {
      background-color: #090;
      color: #fff; }
    .gate_widget table.data td.blue {
      background-color: #06c;
      color: #fff; }
    .gate_widget table.data td.bad_data {
      background-color: #fec;
      color: #999; }
    .gate_widget table.data td.img-circles {
      border-radius: 10%; }
.gate_widget table.data1 tr.dockundock {
  background-color: #fec; }
.gate_widget table.data2 {
  border: solid 1px #999;
  border-spacing: 1px;
  border-collapse: separate; }
  .gate_widget table.data2 td {
    padding: 3px 10px;
    color: #999; }
    .gate_widget table.data2 td.lbl {
      background-color: #fff;
      font-style: italic;
      color: #333;
      border-bottom: solid 1px #ddd; }
    .gate_widget table.data2 td.val {
      font-weight: bold; }
    .gate_widget table.data2 td.ok {
      color: #c33; }
    .gate_widget table.data2 td.blue {
      background-color: #06c;
      color: #fff; }
    .gate_widget table.data2 td.bad_data {
      background-color: #fec;
      color: #999; }
    .gate_widget table.data2 td.img-circles {
      border-radius: 10%; }

.pbbdetail_widget.alarm {
  background-color: #c00;
  color: #fff; }
.pbbdetail_widget .display {
  min-height: 100%;
  min-width: 100%;
  overflow: auto; }
  .pbbdetail_widget .display #aircraft_img {
    position: relative;
    float: left;
    background-image: url("../img/pbb/PBB_Un-docked-400x400.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 100%;
    width: 100%; }
    .pbbdetail_widget .display #aircraft_img.docked {
      background-image: url("../img/pbb/PBB_docked-400x400.gif"); }
  .pbbdetail_widget .display #autolevel_img {
    position: relative;
    float: left;
    background-image: url("../img/pbb/PBB-AutoLevel-Off-400x400.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 100%;
    width: 100%; }
    .pbbdetail_widget .display #autolevel_img.autolevelon {
      background-image: url("../img/pbb/PBB-AutoLevel-On-400x400.gif"); }
  .pbbdetail_widget .display #canopy_img {
    position: relative;
    float: left;
    background-image: url("../img/pbb/PBB-Canopy-Off-400x400.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 100%;
    width: 100%; }
    .pbbdetail_widget .display #canopy_img.canopyon {
      background-image: url("../img/pbb/PBB-Canopy-On-400x400.gif"); }
  .pbbdetail_widget .display #pbbdetail_label {
    margin-bottom: 3px; }
    .pbbdetail_widget .display #pbbdetail_label h1 {
      line-height: 48px;
      font-weight: bold;
      margin: 0 0 0 0; }
      .pbbdetail_widget .display #pbbdetail_label h1 i.fa {
        margin-right: -5px;
        padding: 5px;
        border-radius: 10px;
        font-size: 26px !important; }
      .pbbdetail_widget .display #pbbdetail_label h1 i#docked {
        color: #069;
        background-color: #eee; }
      .pbbdetail_widget .display #pbbdetail_label h1 i#alarms {
        color: #fff;
        background-color: #c00; }
      .pbbdetail_widget .display #pbbdetail_label h1 i#warnings {
        color: #f90;
        background-color: #eee; }
.pbbdetail_widget table.data1 tr.dockundock {
  background-color: #090; }
.pbbdetail_widget table.data2 {
  border: solid 1px #999;
  border-spacing: 1px;
  border-collapse: separate; }
  .pbbdetail_widget table.data2 tr.dockundock {
    background-color: #090; }
  .pbbdetail_widget table.data2 td {
    padding: 3px 10px;
    color: #999; }
    .pbbdetail_widget table.data2 td.lbl {
      background-color: #fff;
      font-style: italic;
      color: #333;
      border-bottom: solid 1px #ddd; }
    .pbbdetail_widget table.data2 td.val {
      font-weight: bold; }
    .pbbdetail_widget table.data2 td.ok {
      color: #090; }
    .pbbdetail_widget table.data2 td.blue {
      background-color: #06c;
      color: #fff; }
    .pbbdetail_widget table.data2 td.bad_data {
      background-color: #fec;
      color: #999; }
    .pbbdetail_widget table.data2 td.img-circles {
      border-radius: 10%; }

/* GPU Widget Styles */
.gpu_widget.alarm {
  background-color: #c00;
  color: #fff; }
.gpu_widget .display {
  min-height: 100%;
  min-width: 100%;
  overflow: auto; }
  .gpu_widget .display #gpu_label {
    margin-bottom: 3px; }
    .gpu_widget .display #gpu_label h1 {
      line-height: 48px;
      font-weight: bold;
      margin: 0 0 0 0; }
      .gpu_widget .display #gpu_label h1 i.fa {
        margin-right: -5px;
        padding: 5px;
        border-radius: 10px;
        font-size: 26px !important; }
      .gpu_widget .display #gpu_label h1 i#docked {
        color: #069;
        background-color: #eee; }
      .gpu_widget .display #gpu_label h1 i#alarms {
        color: #fff;
        background-color: #c00; }
      .gpu_widget .display #gpu_label h1 i#warnings {
        color: #f90;
        background-color: #eee; }
.gpu_widget table.data {
  width: 100%;
  border: solid 1px #999;
  border-spacing: 1px;
  border-collapse: separate; }
  .gpu_widget table.data td {
    padding: 3px 10px;
    background-color: #eee;
    color: #999; }
    .gpu_widget table.data td.lbl {
      background-color: #fff;
      font-style: italic;
      color: #333;
      border-bottom: solid 1px #ddd; }
    .gpu_widget table.data td.val {
      font-weight: bold; }
    .gpu_widget table.data td.err {
      color: #fe6;
      background-color: #c33; }
    .gpu_widget table.data td.ok {
      background-color: #090;
      color: #fff; }
    .gpu_widget table.data td.blue {
      background-color: #06c;
      color: #fff; }
    .gpu_widget table.data td.bad_data {
      background-color: #fec;
      color: #999; }

/* GPU Summary Widget Styles */
/*.gpu_summary_widget {
  position: absolute;
  min-height: 100px;
  min-width: 100%;
}*/
.gpu_summary_widget .bad_data {
  width: 100%;
  background-color: rgba(255, 220, 150, 0.7);
  position: absolute;
  top: 30%;
  left: 0;
  padding-top: 60%;
  border-radius: 10px;
  text-align: center;
  color: #c00;
  font-weight: bold;
  font-size: 18px;
  border: solid 4px #fff; }
.gpu_summary_widget #plot_container #options {
  min-width: 100px;
  width: 18%;
  font-size: 18px;
  text-align: left; }
.gpu_summary_widget #plot_container #plot_data {
  width: 82%;
  position: relative; }
.gpu_summary_widget #ptype_lbl {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px; }
.gpu_summary_widget #power_indicator {
  position: absolute;
  top: 5%;
  left: 3%;
  font-size: 24px;
  font-weight: bold; }
  .gpu_summary_widget #power_indicator .inactive {
    color: #ccc; }
  .gpu_summary_widget #power_indicator .active {
    color: #090; }
.gpu_summary_widget #txt_connected_time {
  position: absolute;
  right: 4%;
  top: 7%;
  font-size: 18px;
  color: #090; }
.gpu_summary_widget.alarm {
  background-color: #c00;
  color: #fff; }
.gpu_summary_widget .display {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  overflow: auto;
  /* Plot formatting */
  /* Toggle Button Formats */ }
  .gpu_summary_widget .display #gpu_summary_label {
    margin-bottom: 3px; }
    .gpu_summary_widget .display #gpu_summary_label h1 {
      line-height: 48px;
      font-weight: bold;
      margin: 0 0 0 0; }
      .gpu_summary_widget .display #gpu_summary_label h1 i.fa {
        margin-right: -5px;
        padding: 5px;
        border-radius: 10px;
        font-size: 26px !important; }
      .gpu_summary_widget .display #gpu_summary_label h1 i#docked {
        color: #069;
        background-color: #eee; }
      .gpu_summary_widget .display #gpu_summary_label h1 i#alarms {
        color: #fff;
        background-color: #c00; }
      .gpu_summary_widget .display #gpu_summary_label h1 i#warnings {
        color: #f90;
        background-color: #eee; }
  .gpu_summary_widget .display div[id^='gauge_'] {
    position: relative;
    float: left;
    width: 30%;
    height: 100%; }
    .gpu_summary_widget .display div[id^='gauge_'] svg {
      margin-top: 0px; }
  .gpu_summary_widget .display #gpu_image {
    position: relative;
    float: left;
    background: url("../img/airport/Common/GPU-Graphic.png") no-repeat center center;
    background-size: contain;
    height: 100%;
    width: 40%; }
  .gpu_summary_widget .display div[id^="view_"] {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #fff; }
  .gpu_summary_widget .display .plot-placeholder div.xAxis div.tickLabel {
    min-width: 90px;
    margin: 35px 0px 0px 0px;
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    /* IE 9 */
    -moz-transform: rotate(270deg);
    /* Firefox */
    -webkit-transform: rotate(270deg);
    /* Safari and Chrome */
    -o-transform: rotate(270deg);
    /* Opera */
    /*rotation:270deg;*/
    /* CSS3 */ }
  .gpu_summary_widget .display #live_container label {
    font-size: 12px;
    margin-bottom: 0 !important; }
  .gpu_summary_widget .display #phases {
    margin-top: 10px; }
    .gpu_summary_widget .display #phases a {
      font-size: 12px;
      font-weight: bold;
      display: block;
      line-height: 18px;
      margin: 0 0 0 0; }
  .gpu_summary_widget .display .plot-container {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    min-height: 250 !important;
    min-width: 625 !important;
    width: 100%;
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 0px 0px;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); }
  .gpu_summary_widget .display .plot-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em; }
  .gpu_summary_widget .display .legend table {
    border-spacing: 5px; }
  .gpu_summary_widget .display #bottom_buttons {
    position: absolute;
    top: calc(100% - 52px);
    height: 36px;
    min-width: 100%; }
    .gpu_summary_widget .display #bottom_buttons .toggle_button {
      display: inline-block;
      height: 36px;
      min-width: 32%;
      background-color: #3bb3e0;
      font-family: Open Sans, sans-serif;
      font-size: 12px;
      text-decoration: none;
      color: #fff;
      position: relative;
      padding: 10px 20px;
      padding-right: 50px;
      background-image: linear-gradient(bottom, #2ca0ca 0, #3bb3e0 100%);
      border-radius: 5px;
      box-shadow: inset 0 1px 0 #2ab7ec, 0 5px 0 0 #156785, 0 10px 5px #999; }
      .gpu_summary_widget .display #bottom_buttons .toggle_button:active {
        top: 3px;
        background-image: linear-gradient(bottom, #3bb3e0 0, #2ca0ca 100%);
        box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 5px 3px #999; }
      .gpu_summary_widget .display #bottom_buttons .toggle_button:active::before {
        top: 50%;
        margin-top: -12px;
        box-shadow: inset 0 1px 0 #60c9f0, 0 3px 0 #0e3871, 0 6px 3px #1a80a6; }
    .gpu_summary_widget .display #bottom_buttons .toggle_button::before {
      background-color: #2591b4;
      background-image: url(../img/right_arrow.png);
      background-repeat: no-repeat;
      background-position: center center;
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -9px;
      border-radius: 50%;
      box-shadow: inset 0 1px 0 #052756, 0 1px 0 #60c9f0; }

/* PCA Widget Styles */
.pca_summary_widget.alarm {
  background-color: #c00;
  color: #fff; }
.pca_summary_widget .bad_data {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 0;
  padding-top: 60%;
  border-radius: 10px;
  text-align: center;
  color: #c00;
  font-weight: bold;
  font-size: 18px;
  border: 0; }
.pca_summary_widget #pca_coildp {
  position: absolute;
  left: 45%;
  top: 20%;
  font-size: 12px;
  font-weight: bold;
  color: #333; }
.pca_summary_widget #pca_pumpcond {
  position: absolute;
  left: 74%;
  top: 90%;
  font-size: 12px;
  font-weight: bold;
  color: #333; }
.pca_summary_widget #pca_vfdspeed {
  position: absolute;
  left: 72%;
  top: 41%;
  font-size: 12px;
  font-weight: bold;
  color: #333; }
.pca_summary_widget #pca_pcaambhumidity {
  position: absolute;
  left: 79%;
  top: 10%;
  font-size: 12px;
  font-weight: bold;
  color: #333; }
.pca_summary_widget #pca_sucpressure1 {
  position: absolute;
  left: 72%;
  top: 65%;
  font-size: 12px;
  font-weight: bold;
  color: #333; }
.pca_summary_widget #pca_sucpressure2 {
  position: absolute;
  left: 85%;
  top: 65%;
  font-size: 12px;
  font-weight: bold;
  color: #333; }
.pca_summary_widget #pca_hotgas1 {
  position: absolute;
  left: 72%;
  top: 72%;
  font-size: 12px;
  font-weight: bold;
  color: #333; }
.pca_summary_widget #pca_hotgas2 {
  position: absolute;
  left: 85%;
  top: 72%;
  font-size: 12px;
  font-weight: bold;
  color: #333; }
.pca_summary_widget #power_indicator {
  position: absolute;
  top: 14%;
  left: 6%;
  font-size: 22px;
  font-weight: bold; }
  .pca_summary_widget #power_indicator .inactive {
    color: #ccc; }
  .pca_summary_widget #power_indicator .active {
    color: #090; }
.pca_summary_widget #txt_connected_time {
  position: absolute;
  left: 20%;
  top: 15%;
  font-size: 18px;
  color: #090; }
.pca_summary_widget div[id^='gauge_'] {
  position: absolute;
  bottom: 11%;
  left: 4%;
  width: 30%;
  height: 100%; }
.pca_summary_widget div[id^='amps_'] {
  position: absolute;
  top: 25%;
  left: 4%;
  width: 30%;
  height: 100%; }
.pca_summary_widget .display {
  min-height: 100%;
  min-width: 100%;
  overflow: auto; }
  .pca_summary_widget .display #pcaoverview_img {
    position: absolute;
    top: 12%;
    left: 3%;
    background-image: url("../img/pca/pcaoriginal.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 30%;
    width: 30%; }
  .pca_summary_widget .display #pcamain_img {
    position: absolute;
    top: 7.5%;
    left: 23%;
    background-image: url("../img/pca/Inet_PCAire-Main.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 80%;
    width: 80%; }
  .pca_summary_widget .display #backgroundgrey_img {
    position: relative;
    float: left;
    background-image: url("../img/pca/backgroundgrey.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 50%;
    width: 50%; }
  .pca_summary_widget .display #blower_img {
    position: absolute;
    top: 8%;
    left: 25.5%;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 80%;
    width: 80%; }
    .pca_summary_widget .display #blower_img.bloweron {
      background-image: url("../img/pca/Blower.gif"); }
  .pca_summary_widget .display #coolingstage1_img {
    position: absolute;
    top: 7%;
    left: 25.5%;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 80%;
    width: 80%; }
    .pca_summary_widget .display #coolingstage1_img.coolingstage1on {
      background-image: url("../img/pca/Cooling-Stage-1.gif"); }
  .pca_summary_widget .display #coolingstage2_img {
    position: absolute;
    top: 7%;
    left: 25.5%;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 80%;
    width: 80%; }
    .pca_summary_widget .display #coolingstage2_img.coolingstage2on {
      background-image: url("../img/pca/Cooling-Stage-2.gif"); }
  .pca_summary_widget .display #heatingstage1_img {
    position: absolute;
    top: 8%;
    left: 24.5%;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 80%;
    width: 80%; }
    .pca_summary_widget .display #heatingstage1_img.heatingstage1on {
      background-image: url("../img/pca/Heat-Stage-1.gif"); }
  .pca_summary_widget .display #heatingstage2_img {
    position: absolute;
    top: 8%;
    left: 24.5%;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 80%;
    width: 80%; }
    .pca_summary_widget .display #heatingstage2_img.heatingstage2on {
      background-image: url("../img/pca/Heat-Stage-2.gif"); }
  .pca_summary_widget .display #accool_img {
    position: absolute;
    top: 6%;
    left: 24%;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 80%;
    width: 80%; }
    .pca_summary_widget .display #accool_img.accoolon {
      background-image: url("../img/pca/AC-Cool.gif"); }
  .pca_summary_widget .display #bccool_img {
    position: absolute;
    top: 7%;
    left: 24%;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 80%;
    width: 80%; }
    .pca_summary_widget .display #bccool_img.bccoolon {
      background-image: url("../img/pca/BC-Cool.gif"); }
  .pca_summary_widget .display #display_label {
    margin-bottom: 3px; }
    .pca_summary_widget .display #display_label h1 {
      line-height: 48px;
      font-weight: bold;
      margin: 0 0 0 0; }
      .pca_summary_widget .display #display_label h1 i.fa {
        margin-right: -5px;
        padding: 5px;
        border-radius: 10px;
        font-size: 26px !important; }
      .pca_summary_widget .display #display_label h1 i#docked {
        color: #069;
        background-color: #eee; }
      .pca_summary_widget .display #display_label h1 i#alarms {
        color: #fff;
        background-color: #c00; }
      .pca_summary_widget .display #display_label h1 i#warnings {
        color: #f90;
        background-color: #eee; }
.pca_summary_widget table.data {
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: separate; }
  .pca_summary_widget table.data td {
    padding: 3px 10px;
    background-color: #fff;
    color: #999; }
    .pca_summary_widget table.data td.lbl {
      background-color: #fff;
      font-style: italic;
      color: #333;
      border-bottom: solid 1px #ddd; }
    .pca_summary_widget table.data td.val {
      font-weight: bold; }
    .pca_summary_widget table.data td.err {
      color: #fe6;
      background-color: #c33; }
    .pca_summary_widget table.data td.ok {
      background-color: #090;
      color: #fff; }
    .pca_summary_widget table.data td.blue {
      background-color: #06c;
      color: #fff; }
    .pca_summary_widget table.data td.bad_data {
      background-color: #fec;
      color: #999; }
.pca_summary_widget table.data1 {
  width: 200%;
  border: 0;
  border-spacing: 0;
  border-collapse: separate; }
  .pca_summary_widget table.data1 td {
    padding: 3px 10px;
    background-color: #fff;
    color: #999; }
    .pca_summary_widget table.data1 td.lbl {
      background-color: #fff;
      font-style: italic;
      color: #333;
      border-bottom: solid 1px #ddd; }

@font-face {
  font-family: 'weather';
  src: url("/fonts/artill_clean_icons-webfont.eot");
  src: url("/fonts/artill_clean_icons-webfont_ie.eot") format("embedded-opentype"), url("/fonts/artill_clean_icons-webfont.woff") format("woff"), url("/fonts/artill_clean_icons-webfont.ttf") format("truetype"), url("/fonts/artill_clean_icons-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
i.weather {
  font-family: weather;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
  font-size: 1.8em; }
  i.weather.icon-0:before {
    content: ":"; }
  i.weather.icon-1:before {
    content: "p"; }
  i.weather.icon-2:before {
    content: "S"; }
  i.weather.icon-3:before {
    content: "Q"; }
  i.weather.icon-4:before {
    content: "S"; }
  i.weather.icon-5:before {
    content: "W"; }
  i.weather.icon-6:before {
    content: "W"; }
  i.weather.icon-7:before {
    content: "W"; }
  i.weather.icon-8:before {
    content: "W"; }
  i.weather.icon-9:before {
    content: "I"; }
  i.weather.icon-10:before {
    content: "W"; }
  i.weather.icon-11:before {
    content: "I"; }
  i.weather.icon-12:before {
    content: "I"; }
  i.weather.icon-13:before {
    content: "I"; }
  i.weather.icon-14:before {
    content: "I"; }
  i.weather.icon-15:before {
    content: "W"; }
  i.weather.icon-16:before {
    content: "I"; }
  i.weather.icon-17:before {
    content: "W"; }
  i.weather.icon-18:before {
    content: "U"; }
  i.weather.icon-19:before {
    content: "Z"; }
  i.weather.icon-20:before {
    content: "Z"; }
  i.weather.icon-21:before {
    content: "Z"; }
  i.weather.icon-22:before {
    content: "Z"; }
  i.weather.icon-23:before {
    content: "Z"; }
  i.weather.icon-24:before {
    content: "E"; }
  i.weather.icon-25:before {
    content: "E"; }
  i.weather.icon-26:before {
    content: "3"; }
  i.weather.icon-27:before {
    content: "a"; }
  i.weather.icon-28:before {
    content: "A"; }
  i.weather.icon-29:before {
    content: "a"; }
  i.weather.icon-30:before {
    content: "A"; }
  i.weather.icon-31:before {
    content: "6"; }
  i.weather.icon-32:before {
    content: "1"; }
  i.weather.icon-33:before {
    content: "6"; }
  i.weather.icon-34:before {
    content: "1"; }
  i.weather.icon-35:before {
    content: "W"; }
  i.weather.icon-36:before {
    content: "1"; }
  i.weather.icon-37:before {
    content: "S"; }
  i.weather.icon-38:before {
    content: "S"; }
  i.weather.icon-39:before {
    content: "S"; }
  i.weather.icon-40:before {
    content: "M"; }
  i.weather.icon-41:before {
    content: "W"; }
  i.weather.icon-42:before {
    content: "I"; }
  i.weather.icon-43:before {
    content: "W"; }
  i.weather.icon-44:before {
    content: "a"; }
  i.weather.icon-45:before {
    content: "S"; }
  i.weather.icon-46:before {
    content: "U"; }
  i.weather.icon-47:before {
    content: "S"; }

.weather .box-body.content {
  background-color: #adf; }
  .weather .box-body.content #display h1 {
    font-size: 50px !important;
    font-weight: bold !important;
    text-align: center !important;
    margin: 0 0 0 0 !important; }
  .weather .box-body.content #display .details {
    text-align: center; }
    .weather .box-body.content #display .details .location {
      display: block;
      font-size: 18px; }

.alarm_widget #alarm_lbl {
  margin: 0 0 10px 0;
  font-size: 16px; }
.alarm_widget .group_item {
  margin: 0 5px; }

/*# sourceMappingURL=app-ui.css.map */
