.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px; }

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px; }

.bs-callout p:last-child {
  margin-bottom: 0; }

.bs-callout code {
  border-radius: 3px; }

.bs-callout + .bs-callout {
  margin-top: -5px; }

.bs-callout-default {
  border-left-color: #777; }

.bs-callout-default h4 {
  color: #777; }

.bs-callout-primary {
  border-left-color: #428bca; }

.bs-callout-primary h4 {
  color: #428bca; }

.bs-callout-success {
  border-left-color: #5cb85c; }

.bs-callout-success h4 {
  color: #5cb85c; }

.bs-callout-danger {
  border-left-color: #d9534f; }

.bs-callout-danger h4 {
  color: #d9534f; }

.bs-callout-warning {
  border-left-color: #f0ad4e; }

.bs-callout-warning h4 {
  color: #f0ad4e; }

.bs-callout-info {
  border-left-color: #5bc0de; }

.bs-callout-info h4 {
  color: #5bc0de; }

.user-panel .image img {
  max-width: 35px; }

.navbar-nav .dropdown-menu {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2) !important; }

.main-header a.logo .logo-mini img {
  max-width: 41px;
  max-height: 41px; }
.main-header a.logo .logo-lg img {
  max-width: 200px;
  max-height: 41px; }

.main-footer {
  box-sizing: content;
  height: 30px !important;
  padding: 3px 15px !important; }
  .main-footer span#logo img {
    vertical-align: text-bottom;
    max-height: 22px; }

.nav-tabs-custom .tab-content {
  padding: 20px; }

i.form-control-feedback {
  display: block !important;
  line-height: 34px !important;
  color: #ddd !important; }

@media (max-width: 767px) {
  .skin-black .main-header > .logo {
    background-color: #d2d6de; }
    .skin-black .main-header > .logo:hover {
      background-color: #fff; } }
ul.gridster.widget-container {
  list-style: none; }
  ul.gridster.widget-container li.widget .widget-outer {
    width: 100%;
    height: 100%;
    position: relative; }
    ul.gridster.widget-container li.widget .widget-outer .box-header {
      cursor: all-scroll;
      padding: 2px 10px;
      color: #fff;
      background-color: #3c8dbc;
      position: absolute;
      top: 0;
      width: 100%;
      height: 25px;
      z-index: 11; }
      ul.gridster.widget-container li.widget .widget-outer .box-header h3 {
        font-size: 14px;
        font-weight: bold; }
      ul.gridster.widget-container li.widget .widget-outer .box-header .controls a {
        color: #fff;
        margin-left: 10px; }
    ul.gridster.widget-container li.widget .widget-outer .box-body.content {
      width: 100%;
      box-sizing: border-box;
      position: absolute;
      box-sizing: border-box;
      padding: 35px 10px 10px 10px;
      height: 100%;
      min-height: 100%;
      z-index: 10; }
    ul.gridster.widget-container li.widget .widget-outer .box-body iframe {
      display: inline;
      width: 100%;
      height: 100%;
      border: 0px solid #cccccc;
      box-sizing: border-box; }
    ul.gridster.widget-container li.widget .widget-outer .box-body .settings {
      width: 100%; }
      ul.gridster.widget-container li.widget .widget-outer .box-body .settings h3 {
        margin-top: 0;
        margin-bottom: 5px; }
    ul.gridster.widget-container li.widget .widget-outer .box-body .display.contain {
      max-width: 100%;
      max-height: 100%;
      overflow: auto; }

#widget_selections a.widget_select {
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  display: block; }
  #widget_selections a.widget_select:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000; }

.crud_container {
  margin: 0 5px;
  color: #999; }
  .crud_container .crud {
    margin: 0 5px;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px; }
    .crud_container .crud .fa-pencil-square, .crud_container .crud .fa-pencil-square-o {
      color: #336; }
    .crud_container .crud .fa-plus-square {
      color: #363; }
    .crud_container .crud .fa-times-circle {
      color: #933; }
    .crud_container .crud:hover {
      color: #000; }

.nav-tabs-custom {
  background-color: transparent !important;
  box-shadow: none; }

.nav.nav-tabs li.active {
  font-weight: bold; }

.row .form-control-feedback {
  right: 15px; }

ul.chosen-choices {
  padding: 3px 5px !important;
  border: solid 1px #d2d6de !important;
  background-image: none !important; }
  ul.chosen-choices li.search-choice {
    background-image: none !important;
    background-color: #3c8dbc !important;
    border-color: #3c8dbc !important;
    color: #fff !important;
    box-shadow: none !important; }
  ul.chosen-choices a.search-choice-close:after {
    content: 'x';
    font-size: 14px;
    font-weight: bold;
    line-height: 10px;
    color: #000 !important;
    background-image: none !important;
    background: none !important; }
    ul.chosen-choices a.search-choice-close:after:hover {
      color: #fff !important; }
  ul.chosen-choices a.search-choice-close {
    background-image: none !important;
    background: none !important; }
    ul.chosen-choices a.search-choice-close:hover {
      color: #fff !important; }

ul.chosen-results li.highlighted {
  background-image: none !important;
  background-color: #3c8dbc !important;
  color: #fff !important; }

.chosen-container-active ul.chosen-choices {
  border-color: #3c8dbc !important;
  box-shadow: none !important; }

#add_account {
  margin-left: 20px;
  cursor: pointer; }

.preamble {
  padding: 0 0 10px 0;
  margin-left: 5px; }

#account_list {
  width: 100%; }
  #account_list .row {
    background-color: rgba(255, 255, 255, 0.5); }

.account_container {
  border-top: solid 1px #ccc;
  padding: 20px 0 0 0; }
  .account_container .title {
    font-size: 21px;
    font-weight: bold; }
  .account_container #account_active.fa-toggle-on {
    color: #363; }
  .account_container #account_active.fa-toggle-off {
    color: #999; }
  .account_container #account_name {
    display: none;
    max-width: 90%; }
  .account_container #account_buttons {
    display: none; }
  .account_container.rw #account_name {
    display: inline !important; }
  .account_container.rw #account_name_label {
    display: none; }
  .account_container.rw #account_crud {
    display: none; }
  .account_container.rw #account_buttons {
    display: inline !important; }
  .account_container.rw #account_active {
    cursor: pointer; }
  .account_container .site_list {
    margin-bottom: 20px; }
    .account_container .site_list #header {
      margin: 10px 0 5px 30px; }
    .account_container .site_list .row {
      padding-left: 20px; }

.site_container {
  margin-top: 10px;
  border-top: dashed 1px #ccc;
  box-sizing: content-box;
  padding: 10px 0 0 10px; }
  .site_container #site_active.fa-toggle-on {
    color: #363; }
  .site_container #site_active.fa-toggle-off {
    color: #999; }
  .site_container #site_name {
    max-width: 90%; }
  .site_container #site_short, .site_container #site_short_label, .site_container #site_opc_label, .site_container #site_opc, .site_container #site_opc_rate_label, .site_container #site_opc_rate, .site_container #site_buttons {
    margin-left: 21px; }
  .site_container #site_buttons {
    margin-top: 10px; }
  .site_container #site_name, .site_container #site_abbrev, .site_container #site_short, .site_container #site_opc, .site_container #site_opc_rate, .site_container #site_buttons {
    display: none; }
  .site_container.rw #site_name, .site_container.rw #site_abbrev, .site_container.rw #site_short, .site_container.rw #site_opc, .site_container.rw #site_opc_rate {
    display: inline !important; }
  .site_container.rw #site_label, .site_container.rw #site_short_label, .site_container.rw #site_crud, .site_container.rw #site_opc_label, .site_container.rw #site_opc_rate_label {
    display: none; }
  .site_container.rw #site_buttons {
    display: block !important; }
  .site_container.rw #site_active {
    cursor: pointer; }

#permissions_region h4, #roles_region h4 {
  margin: 0px 0 0 -5px;
  background-color: #f6f6f6;
  padding: 5px 0 5px 13px; }
#permissions_region h3, #roles_region h3 {
  margin: 0;
  background-color: #cbe1ee;
  padding: 5px 0 5px 5px; }
#permissions_region #global_region, #roles_region #global_region {
  padding-bottom: 20px; }
  #permissions_region #global_region h3, #roles_region #global_region h3 {
    margin-left: -5px; }
#permissions_region .site_item, #roles_region .site_item {
  margin-bottom: 10px; }

#add_claim {
  cursor: pointer;
  margin-left: 30px;
  color: #00a65a; }

#permissions_list {
  padding: 0 0 0 10px; }

.permission_container {
  padding: 5px 0 5px 20px;
  width: 100%;
  border-top: 1px dashed #ccc; }
  .permission_container i.fa.fa-lock {
    color: #ccc; }
  .permission_container #permission_label {
    font-size: 18px; }
  .permission_container #permission_desc_container {
    padding-left: 36px; }
  .permission_container #permission_name, .permission_container #permission_buttons, .permission_container #permission_desc {
    display: none; }
  .permission_container.rw #permission_name, .permission_container.rw #permission_desc {
    display: inline !important; }
  .permission_container.rw #permission_label, .permission_container.rw #permission_desc_label {
    display: none !important; }
  .permission_container.rw #permission_crud {
    display: none; }
  .permission_container.rw #permission_buttons {
    display: inline !important; }

#add_role {
  cursor: pointer;
  margin-left: 30px;
  color: #00a65a; }

#roles_list {
  padding: 0 0 0 20px; }

.role_container {
  padding: 5px 0 5px 10px;
  width: 100%;
  border-top: 1px dashed #ccc; }
  .role_container i.fa.fa-group {
    color: #ccc; }
  .role_container #role_label {
    font-size: 18px; }
  .role_container #role_desc_container {
    padding-left: 36px; }
  .role_container #role_claims_container {
    padding-left: 36px; }
  .role_container #role_name, .role_container #role_buttons, .role_container #role_desc {
    display: none; }
  .role_container.rw #role_name, .role_container.rw #role_desc {
    display: inline !important; }
  .role_container.rw #role_label, .role_container.rw #role_desc_label {
    display: none !important; }
  .role_container.rw #role_crud {
    display: none; }
  .role_container.rw #role_buttons {
    display: inline !important; }

.user_container {
  padding: 20px 0 20px 10px;
  border-top: 1px dashed #ccc; }
  .user_container .edit {
    display: none; }
  .user_container.rw .edit {
    display: block !important; }
  .user_container.rw .display {
    display: none !important; }
  .user_container #user_label {
    font-size: 18px;
    color: #333;
    font-weight: bold; }
    .user_container #user_label small {
      color: #666;
      font-weight: normal; }
  .user_container h3.account_name {
    margin: 0 0 10px 0;
    background-color: #cbe1ee;
    padding: 5px 0 5px 5px; }
  .user_container .account_container {
    border: none !important;
    padding: 0;
    margin: 0; }
  .user_container #user_buttons {
    margin-left: 15px; }

.login-box .login-logo img {
  max-width: 300px;
  height: auto; }

* {
  outline: none; }

a.inline {
  display: inline !important;
  padding: 0;
  margin: 0 0 0 10px;
  border-left: none !important; }
  a.inline:hover, a.inline:focus {
    border-left: none !important;
    background-color: transparent !important; }

li.dashboard-link {
  position: relative; }
  li.dashboard-link .controls {
    display: none;
    position: absolute;
    right: 0;
    top: 13px;
    z-index: 9999; }
    li.dashboard-link .controls i.fa {
      margin-right: 5px; }
    li.dashboard-link .controls a:hover {
      color: #fff; }
  li.dashboard-link:hover .controls {
    display: block; }

/* Airport Widget Styles */
.airport_widget.alarm {
  background-color: #c00;
  color: #fff; }
.airport_widget.DAL_account .display div[id^='Airport_Gate_'], .airport_widget.DAL_account .display #Airport_Overview {
  min-height: calc(100% - 25px);
  min-width: 100%;
  overflow: auto;
  position: absolute;
  top: 25px;
  left: 0px; }
.airport_widget.DAL_account .display #display_label {
  display: none; }
.airport_widget.DAL_account .display div[id^='Airport_Gate_'] {
  z-index: 1000; }
.airport_widget.DAL_account .display #Airport_Overview {
  background: url("../img/airport/DAL/DAL_Term_Overview.png") no-repeat bottom center;
  background-size: contain;
  z-index: 100; }
.airport_widget.DAL_account .display .airport_gate_10_bad_data {
  background: url("../img/airport/DAL/DAL_Gate_10_bad_data.png") no-repeat bottom center;
  background-size: contain; }
.airport_widget.DAL_account .display .airport_gate_10_idle {
  background: url("../img/airport/DAL/DAL_Gate_10.png") no-repeat bottom center;
  background-size: contain; }
.airport_widget.DAL_account .display .airport_gate_10_ac_docked {
  background: url("../img/airport/DAL/DAL_Gate_10_Plane.png") no-repeat bottom center;
  background-size: contain; }
.airport_widget.DAL_account .display .airport_gate_10_good {
  background: none; }
.airport_widget.DAL_account .display .airport_gate_10_alarm {
  background: url("../img/airport/DAL/DAL_Gate_10_Alarm.png") no-repeat bottom center;
  background-size: contain; }
.airport_widget.DAL_account .display .airport_gate_10_warning {
  background: url("../img/airport/DAL/DAL_Gate_10_Warning.png") no-repeat bottom center;
  background-size: contain; }
.airport_widget.DAL_account .display .airport_gate_12_bad_data {
  background: url("../img/airport/DAL/DAL_Gate_12_bad_data.png") no-repeat bottom center;
  background-size: contain; }
.airport_widget.DAL_account .display .airport_gate_12_idle {
  background: url("../img/airport/DAL/DAL_Gate_12.png") no-repeat bottom center;
  background-size: contain; }
.airport_widget.DAL_account .display .airport_gate_12_ac_docked {
  background: url("../img/airport/DAL/DAL_Gate_12_Plane.png") no-repeat bottom center;
  background-size: contain; }
.airport_widget.DAL_account .display .airport_gate_12_good {
  background: none; }
.airport_widget.DAL_account .display .airport_gate_12_alarm {
  background: url("../img/airport/DAL/DAL_Gate_12_Alarm.png") no-repeat bottom center;
  background-size: contain; }
.airport_widget.DAL_account .display .airport_gate_12_warning {
  background: url("../img/airport/DAL/DAL_Gate_12_Warning.png") no-repeat bottom center;
  background-size: contain; }

/* Gate Widget Styles */
.gate_widget.alarm {
  background-color: #c00;
  color: #fff; }
.gate_widget .display {
  min-height: 100%;
  min-width: 100%;
  overflow: auto; }
  .gate_widget .display #display_label {
    margin-bottom: 3px; }
    .gate_widget .display #display_label h1 {
      line-height: 48px;
      font-weight: bold;
      margin: 0 0 0 0; }
      .gate_widget .display #display_label h1 i.fa {
        margin-right: -5px;
        padding: 5px;
        border-radius: 10px;
        font-size: 26px !important; }
      .gate_widget .display #display_label h1 i#docked {
        color: #069;
        background-color: #eee; }
      .gate_widget .display #display_label h1 i#alarms {
        color: #fff;
        background-color: #c00; }
      .gate_widget .display #display_label h1 i#warnings {
        color: #f90;
        background-color: #eee; }
.gate_widget table.data {
  width: 100%;
  border: solid 1px #999;
  border-spacing: 1px;
  border-collapse: separate; }
  .gate_widget table.data td {
    padding: 3px 10px;
    background-color: #eee;
    color: #999; }
    .gate_widget table.data td.lbl {
      background-color: #fff;
      font-style: italic;
      color: #333;
      border-bottom: solid 1px #ddd; }
    .gate_widget table.data td.val {
      font-weight: bold; }
    .gate_widget table.data td.err {
      color: #fe6;
      background-color: #c33; }
    .gate_widget table.data td.ok {
      background-color: #090;
      color: #fff; }
    .gate_widget table.data td.blue {
      background-color: #06c;
      color: #fff; }
    .gate_widget table.data td.bad_data {
      background-color: #fec;
      color: #999; }

/* GPU Widget Styles */
.gpu_widget.alarm {
  background-color: #c00;
  color: #fff; }
.gpu_widget .display {
  min-height: 100%;
  min-width: 100%;
  overflow: auto; }
  .gpu_widget .display #gpu_label {
    margin-bottom: 3px; }
    .gpu_widget .display #gpu_label h1 {
      line-height: 48px;
      font-weight: bold;
      margin: 0 0 0 0; }
      .gpu_widget .display #gpu_label h1 i.fa {
        margin-right: -5px;
        padding: 5px;
        border-radius: 10px;
        font-size: 26px !important; }
      .gpu_widget .display #gpu_label h1 i#docked {
        color: #069;
        background-color: #eee; }
      .gpu_widget .display #gpu_label h1 i#alarms {
        color: #fff;
        background-color: #c00; }
      .gpu_widget .display #gpu_label h1 i#warnings {
        color: #f90;
        background-color: #eee; }
.gpu_widget table.data {
  width: 100%;
  border: solid 1px #999;
  border-spacing: 1px;
  border-collapse: separate; }
  .gpu_widget table.data td {
    padding: 3px 10px;
    background-color: #eee;
    color: #999; }
    .gpu_widget table.data td.lbl {
      background-color: #fff;
      font-style: italic;
      color: #333;
      border-bottom: solid 1px #ddd; }
    .gpu_widget table.data td.val {
      font-weight: bold; }
    .gpu_widget table.data td.err {
      color: #fe6;
      background-color: #c33; }
    .gpu_widget table.data td.ok {
      background-color: #090;
      color: #fff; }
    .gpu_widget table.data td.blue {
      background-color: #06c;
      color: #fff; }
    .gpu_widget table.data td.bad_data {
      background-color: #fec;
      color: #999; }

/* GPU Summary Widget Styles */
/*.gpu_summary_widget {
  position: absolute;
  min-height: 100px;
  min-width: 100%;
}*/
.gpu_summary_widget.alarm {
  background-color: #c00;
  color: #fff; }
.gpu_summary_widget .display {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  overflow: auto;
  /* Plot formatting */
  /* Toggle Button Formats */ }
  .gpu_summary_widget .display #gpu_summary_label {
    margin-bottom: 3px; }
    .gpu_summary_widget .display #gpu_summary_label h1 {
      line-height: 48px;
      font-weight: bold;
      margin: 0 0 0 0; }
      .gpu_summary_widget .display #gpu_summary_label h1 i.fa {
        margin-right: -5px;
        padding: 5px;
        border-radius: 10px;
        font-size: 26px !important; }
      .gpu_summary_widget .display #gpu_summary_label h1 i#docked {
        color: #069;
        background-color: #eee; }
      .gpu_summary_widget .display #gpu_summary_label h1 i#alarms {
        color: #fff;
        background-color: #c00; }
      .gpu_summary_widget .display #gpu_summary_label h1 i#warnings {
        color: #f90;
        background-color: #eee; }
  .gpu_summary_widget .display div[id^='gauge_'] {
    position: relative;
    float: left;
    width: 30%;
    height: 100%; }
    .gpu_summary_widget .display div[id^='gauge_'] svg {
      margin-top: 0px; }
  .gpu_summary_widget .display #gpu_image {
    position: relative;
    float: left;
    background: url("../img/airport/Common/GPU-Graphic.png") no-repeat center center;
    background-size: contain;
    height: 100%;
    width: 40%; }
  .gpu_summary_widget .display div[id^="view_"] {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 75px);
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15); }
  .gpu_summary_widget .display .plot-placeholder div.xAxis div.tickLabel {
    min-width: 90px;
    margin: 35px 0px 0px 0px;
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    /* IE 9 */
    -moz-transform: rotate(270deg);
    /* Firefox */
    -webkit-transform: rotate(270deg);
    /* Safari and Chrome */
    -o-transform: rotate(270deg);
    /* Opera */
    /*rotation:270deg;*/
    /* CSS3 */ }
  .gpu_summary_widget .display .plot-toggle {
    position: absolute;
    width: 82px;
    height: 35px;
    top: calc(100% - (100% - 32px));
    right: calc(100% - (100% - 78px));
    float: center;
    /* border: 1px solid red; */ }
  .gpu_summary_widget .display .toggle {
    position: relative;
    width: 100% !important;
    height: 100% !important; }
  .gpu_summary_widget .display .plot-container {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    min-height: 250 !important;
    min-width: 625 !important;
    width: 100%;
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 0px 0px;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); }
  .gpu_summary_widget .display .plot-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em; }
  .gpu_summary_widget .display .legend table {
    border-spacing: 5px; }
  .gpu_summary_widget .display #bottom_buttons {
    position: absolute;
    top: calc(100% - 52px);
    height: 36px;
    min-width: 100%; }
    .gpu_summary_widget .display #bottom_buttons .toggle_button {
      display: inline-block;
      height: 36px;
      min-width: 32%;
      background-color: #3bb3e0;
      font-family: Open Sans, sans-serif;
      font-size: 12px;
      text-decoration: none;
      color: #fff;
      position: relative;
      padding: 10px 20px;
      padding-right: 50px;
      background-image: linear-gradient(bottom, #2ca0ca 0, #3bb3e0 100%);
      border-radius: 5px;
      box-shadow: inset 0 1px 0 #2ab7ec, 0 5px 0 0 #156785, 0 10px 5px #999; }
      .gpu_summary_widget .display #bottom_buttons .toggle_button:active {
        top: 3px;
        background-image: linear-gradient(bottom, #3bb3e0 0, #2ca0ca 100%);
        box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 5px 3px #999; }
      .gpu_summary_widget .display #bottom_buttons .toggle_button:active::before {
        top: 50%;
        margin-top: -12px;
        box-shadow: inset 0 1px 0 #60c9f0, 0 3px 0 #0e3871, 0 6px 3px #1a80a6; }
    .gpu_summary_widget .display #bottom_buttons .toggle_button::before {
      background-color: #2591b4;
      background-image: url(../img/right_arrow.png);
      background-repeat: no-repeat;
      background-position: center center;
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -9px;
      border-radius: 50%;
      box-shadow: inset 0 1px 0 #052756, 0 1px 0 #60c9f0; }

/* PCA Widget Styles */
.pca_widget.alarm {
  background-color: #c00;
  color: #fff; }
.pca_widget .display {
  min-height: 100%;
  min-width: 100%;
  overflow: auto; }
  .pca_widget .display #display_label {
    margin-bottom: 3px; }
    .pca_widget .display #display_label h1 {
      line-height: 48px;
      font-weight: bold;
      margin: 0 0 0 0; }
      .pca_widget .display #display_label h1 i.fa {
        margin-right: -5px;
        padding: 5px;
        border-radius: 10px;
        font-size: 26px !important; }
      .pca_widget .display #display_label h1 i#docked {
        color: #069;
        background-color: #eee; }
      .pca_widget .display #display_label h1 i#alarms {
        color: #fff;
        background-color: #c00; }
      .pca_widget .display #display_label h1 i#warnings {
        color: #f90;
        background-color: #eee; }
.pca_widget table.data {
  width: 100%;
  border: solid 1px #999;
  border-spacing: 1px;
  border-collapse: separate; }
  .pca_widget table.data td {
    padding: 3px 10px;
    background-color: #eee;
    color: #999; }
    .pca_widget table.data td.lbl {
      background-color: #fff;
      font-style: italic;
      color: #333;
      border-bottom: solid 1px #ddd; }
    .pca_widget table.data td.val {
      font-weight: bold; }
    .pca_widget table.data td.err {
      color: #fe6;
      background-color: #c33; }
    .pca_widget table.data td.ok {
      background-color: #090;
      color: #fff; }
    .pca_widget table.data td.blue {
      background-color: #06c;
      color: #fff; }
    .pca_widget table.data td.bad_data {
      background-color: #fec;
      color: #999; }

/*# sourceMappingURL=app-ui.css.map */
