.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px; }

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px; }

.bs-callout p:last-child {
  margin-bottom: 0; }

.bs-callout code {
  border-radius: 3px; }

.bs-callout + .bs-callout {
  margin-top: -5px; }

.bs-callout-default {
  border-left-color: #777; }

.bs-callout-default h4 {
  color: #777; }

.bs-callout-primary {
  border-left-color: #428bca; }

.bs-callout-primary h4 {
  color: #428bca; }

.bs-callout-success {
  border-left-color: #5cb85c; }

.bs-callout-success h4 {
  color: #5cb85c; }

.bs-callout-danger {
  border-left-color: #d9534f; }

.bs-callout-danger h4 {
  color: #d9534f; }

.bs-callout-warning {
  border-left-color: #f0ad4e; }

.bs-callout-warning h4 {
  color: #f0ad4e; }

.bs-callout-info {
  border-left-color: #5bc0de; }

.bs-callout-info h4 {
  color: #5bc0de; }

.user-panel .image img {
  max-width: 35px; }

.navbar-nav .dropdown-menu {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2) !important; }

.main-footer {
  box-sizing: content;
  height: 30px !important;
  padding: 3px 15px !important; }
  .main-footer span#logo img {
    vertical-align: text-bottom; }
  .main-footer span#logo img.iops {
    height: 22px; }
  .main-footer span#logo img.jbt {
    height: 20px; }

@media (max-width: 767px) {
  .skin-black .main-header > .logo {
    background-color: #d2d6de; }
    .skin-black .main-header > .logo:hover {
      background-color: #fff; } }
ul.gridster.widget-container {
  list-style: none; }
  ul.gridster.widget-container li.widget .widget-outer {
    width: 100%;
    height: 100%;
    position: relative; }
    ul.gridster.widget-container li.widget .widget-outer .box-header {
      cursor: all-scroll;
      padding: 2px 10px;
      color: #fff;
      background-color: #3c8dbc;
      position: absolute;
      top: 0;
      width: 100%;
      height: 25px;
      z-index: 11; }
      ul.gridster.widget-container li.widget .widget-outer .box-header h3 {
        font-size: 14px;
        font-weight: bold; }
      ul.gridster.widget-container li.widget .widget-outer .box-header .controls a {
        color: #fff;
        margin-left: 10px; }
    ul.gridster.widget-container li.widget .widget-outer .box-body.content {
      width: 100%;
      box-sizing: border-box;
      position: absolute;
      box-sizing: border-box;
      padding: 35px 10px 10px 10px;
      height: 100%;
      min-height: 100%;
      z-index: 10; }
    ul.gridster.widget-container li.widget .widget-outer .box-body iframe {
      display: inline;
      width: 100%;
      height: 100%;
      border: 0px solid #cccccc;
      box-sizing: border-box; }
    ul.gridster.widget-container li.widget .widget-outer .box-body .settings {
      width: 100%; }
      ul.gridster.widget-container li.widget .widget-outer .box-body .settings h3 {
        margin-top: 0;
        margin-bottom: 5px; }
    ul.gridster.widget-container li.widget .widget-outer .box-body .display.contain {
      max-width: 100%;
      max-height: 100%;
      overflow: auto; }

#widget_selections a.widget_select {
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  display: block; }
  #widget_selections a.widget_select:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000; }

.gate_widget .display {
  min-height: 100%;
  min-width: 100%;
  overflow: auto; }
  .gate_widget .display #gate_label {
    margin-bottom: 3px; }
    .gate_widget .display #gate_label h1 {
      line-height: 48px;
      font-weight: bold;
      margin: 0 0 0 0; }
  .gate_widget .display #docked i.fa.fa-plane {
    color: #069;
    padding: 10px 10px 5px 10px;
    background-color: #eee;
    border-radius: 10px;
    margin-left: 10px; }
.gate_widget table.data {
  width: 100%;
  border: solid 1px #999;
  border-spacing: 1px;
  border-collapse: separate; }
  .gate_widget table.data td {
    padding: 3px 10px;
    background-color: #eee;
    color: #999; }
    .gate_widget table.data td.lbl {
      background-color: #fff;
      font-style: italic;
      color: #333;
      border-bottom: solid 1px #ddd; }
    .gate_widget table.data td.val {
      font-weight: bold; }
    .gate_widget table.data td.err {
      color: #fe6;
      background-color: #c33; }
    .gate_widget table.data td.ok {
      background-color: #090;
      color: #fff; }
    .gate_widget table.data td.blue {
      background-color: #06c;
      color: #fff; }
    .gate_widget table.data td.bad_data {
      background-color: #fec;
      color: #999; }

.crud_container {
  margin: 0 5px;
  color: #999; }
  .crud_container .crud {
    margin: 0 5px;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px; }
    .crud_container .crud .fa-pencil-square, .crud_container .crud .fa-pencil-square-o {
      color: #336; }
    .crud_container .crud .fa-plus-square {
      color: #363; }
    .crud_container .crud .fa-times-circle {
      color: #933; }
    .crud_container .crud:hover {
      color: #000; }

.nav-tabs-custom {
  background-color: transparent !important;
  box-shadow: none; }

.nav.nav-tabs li.active {
  font-weight: bold; }

#add_account {
  margin-left: 20px;
  cursor: pointer; }

.preamble {
  padding: 0 0 20px 0;
  margin-left: 5px; }

#account_list {
  width: 100%; }
  #account_list .row {
    background-color: rgba(255, 255, 255, 0.5); }

.account_container {
  border-top: solid 1px #ccc;
  padding: 20px 0 0 0; }
  .account_container .title {
    font-size: 21px;
    font-weight: bold; }
  .account_container #account_active.fa-toggle-on {
    color: #363; }
  .account_container #account_active.fa-toggle-off {
    color: #999; }
  .account_container #account_name {
    display: none;
    max-width: 90%; }
  .account_container #account_buttons {
    display: none; }
  .account_container.rw #account_name {
    display: inline !important; }
  .account_container.rw #account_name_label {
    display: none; }
  .account_container.rw #account_crud {
    display: none; }
  .account_container.rw #account_buttons {
    display: inline !important; }
  .account_container.rw #account_active {
    cursor: pointer; }
  .account_container .site_list {
    margin-bottom: 20px; }
    .account_container .site_list #header {
      margin: 10px 0 5px 30px; }
    .account_container .site_list .row {
      padding-left: 20px; }

.site_container {
  margin-top: 10px;
  border-top: dashed 1px #ccc;
  box-sizing: content-box;
  padding: 10px 0 0 10px; }
  .site_container #site_active.fa-toggle-on {
    color: #363; }
  .site_container #site_active.fa-toggle-off {
    color: #999; }
  .site_container #site_name {
    max-width: 90%; }
  .site_container #site_short, .site_container #site_short_label, .site_container #site_buttons {
    margin-left: 21px; }
  .site_container #site_buttons {
    margin-top: 10px; }
  .site_container #site_name, .site_container #site_abbrev, .site_container #site_short, .site_container #site_buttons {
    display: none; }
  .site_container.rw #site_name, .site_container.rw #site_abbrev, .site_container.rw #site_short {
    display: inline !important; }
  .site_container.rw #site_label, .site_container.rw #site_short_label, .site_container.rw #site_crud {
    display: none; }
  .site_container.rw #site_buttons {
    display: block !important; }
  .site_container.rw #site_active {
    cursor: pointer; }

#add_claim {
  cursor: pointer; }

#permissions_list {
  padding: 0 0 0 20px; }

.permission_container {
  padding: 10px 0;
  width: 100%;
  border-top: 1px dashed #ccc; }
  .permission_container #permission_label {
    font-size: 18px; }
  .permission_container #permission_name, .permission_container #permission_buttons, .permission_container #permission_desc {
    display: none; }
  .permission_container.rw #permission_name, .permission_container.rw #permission_desc {
    display: inline !important; }
  .permission_container.rw #permission_label, .permission_container.rw #permission_desc_label {
    display: none !important; }
  .permission_container.rw #permission_crud {
    display: none; }
  .permission_container.rw #permission_buttons {
    display: inline !important; }

* {
  outline: none; }

a.inline {
  display: inline !important;
  padding: 0;
  margin: 0 0 0 10px;
  border-left: none !important; }
  a.inline:hover, a.inline:focus {
    border-left: none !important;
    background-color: transparent !important; }

/*# sourceMappingURL=iops-ui.css.map */
