.plot-placeholder div.xAxis div.tickLabel {
  min-width: 90px;
  margin: 35px 0px 0px 0px;
  transform: rotate(270deg);
  -ms-transform:rotate(270deg); /* IE 9 */
  -moz-transform:rotate(270deg); /* Firefox */
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
  -o-transform:rotate(270deg); /* Opera */
  /*rotation:270deg;*/ /* CSS3 */
}

.plot-toggle {
    position: absolute;
    width: 82px;
    height: 35px;
    top: calc(100% - (100% - 32px));
    right: calc(100% - (100% - 78px));
    float: center;
    /* border: 1px solid red; */
}
.toggle {
	position: relative;
	width: 100% !important;
	height: 100% !important;
}

.plot-container {
	box-sizing: border-box;
	position: relative;
	height: 500px;
	min-height: 250;
	min-width: 625;
	width: 850px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.plot-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.legend table {
	border-spacing: 5px;
}