.user-panel {
	.image {
		img {
			max-width:35px;
		}
	}
}

.navbar-nav .dropdown-menu {
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2) !important;
}

.main-footer {
	box-sizing: content;
	height:30px !important;
	padding:3px 15px !important;
	span#logo {
		img {
			vertical-align:text-bottom;
		}
		img.iops {
			height:22px;
		}
		img.jbt {
			height:20px;
		}
	}
}


@media (max-width: 767px) {
	.skin-black .main-header > .logo {
		background-color: #d2d6de;
		&:hover {
			background-color:#fff;
		}
	}
}