.user-panel {
	.image {
		img {
			max-width:35px;
		}
	}
}

.navbar-nav .dropdown-menu {
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2) !important;
}

.main-header {
	a.logo {
		.logo-mini img {
			max-width: 41px;
    	max-height: 41px;
		}
		.logo-lg img {
			max-width: 200px;
    	max-height: 41px;
		}
	}
}

.main-footer {
	box-sizing: content;
	height:30px !important;
	padding:3px 15px !important;
	span#logo {
		img {
			vertical-align:text-bottom;
			max-height: 22px;
		}
	}
}

.nav-tabs-custom {
	.tab-content {
		padding:20px;
	}
}

i.form-control-feedback {
	display:block !important;
	line-height:34px !important;
	color:#ddd !important;
}


@media (max-width: 767px) {
	.skin-black .main-header > .logo {
		background-color: #d2d6de;
		&:hover {
			background-color:#fff;
		}
	}
}

#header-region {
	position: fixed;
	width: 100%;
	z-index: 1000;
	top: 0%;
	left: 0%;
}

#side-region {
	margin-top: 50px;
	width: 230px;
	transition: width 0.28s ease-out;
	height: 95%;
	position: fixed;
	overflow: scroll;
	z-index: 1000;
}

#content-region {
	padding-bottom: 30px !important;
	min-height: 930px !important;
}

#center-region {
	overflow-x: scroll;
}
.login-page  {
	.wrapper #center-region {
		overflow-x: scroll;
	}
	#center-region {
		overflow-x: hidden;
	}
}

#footer-region {
	position: fixed;
	width: 100%;
	z-index: 1000;
	top: 97%;
	left: 0%;
}