/* Gate Widget Styles */
.gate_widget {
  &.alarm {
    background-color: #c00;
    color: #fff;
  }
  .display {
    min-height: 100%;
    min-width: 100%;
    overflow: auto;

    #pbb_cabangledisp{
    position: absolute;
    left: 46%;
    top: 24%;
    font-size: 13px;
    color:mediumblue;
    background: transparent;
    }

    #pbb_slopedeg{
    position: absolute;
    left: 67%;
    top: 29%;
    font-size: 13px;
    color:mediumblue;
    background: transparent;
    }

    #pbb_swingangledisp{
    position: absolute;
    left: 82%;
    top: 33%;
    font-size: 13px;
    color:mediumblue;
    background: transparent;
    }

    #pbb_heighttodisp{
    position: absolute;
    left: 51%;
    top: 51%;
    font-size: 13px;
    color:mediumblue;
    background: transparent;
    }

    #pbb_wheelangledeg{
    position: absolute;
    left: 52%;
    top: 59%;
    font-size: 13px;
    color:mediumblue;
    background: transparent;
    }

    #pbb_tunnellength{
    position: absolute;
    left: 72%;
    top: 52%;
    font-size: 12px;
    color:mediumblue;
    background: transparent;
    }



    #aircraft_img {
      position: absolute;
      top: 10%;
      left: 1%;
      background-image: url("../img/pbb/Docking_Plane_Not-at-Gate.png") ;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center;
      margin: auto auto;
      display: block;
      height: 100%;
      width: 100%;
      &.docked {
        background-image: url("../img/pbb/Docking_Plane_at-Gate.png");
      }
    }
    #display_label {
      margin-bottom: 3px;
      h1 {
        line-height:48px;
        font-weight: bold;
        margin: 0 0 0 0;
        i.fa {
          margin-right:-5px;
          padding: 5px;
          border-radius: 10px;
          font-size:26px !important;
        }
        i#docked {
          color: #069 !important;
          background-color: #eee !important;
        }
        i#alarms {
          color: #fff !important;
          background-color: #c00 !important;
        }
        i#warnings {
          color: #f90 !important;
          background-color: #eee !important;
        }
      }
    }
    
  }
  table.data {
    // width:40%;
    border:solid 1px #999;
    border-spacing: 1px;
    border-collapse: separate;
    td {
      padding:3px 10px;
      background-color: #eee;
      color:#999;
      &.lbl {
        background-color:#fff;
        font-style: italic;
        color:#333;
        border-bottom:solid 1px #ddd;
      }
      &.val {
        font-weight: bold;
        color:#333;   
      }
      &.err {
        color: #fe6;
        background-color:#c33;
      }
      &.ok {
        background-color: #090;
        color:#fff;
      }
      &.blue {
        background-color: #06c;
        color:#fff; 
      }
      &.bad_data {
        background-color: #fec;
        color:#999;
      }
      &.img-circles {
     border-radius: 10%; // set radius in percents
      }
    }
  }

  table.data4 {
    // width:40%;
    border:solid 1px #999;
    border-spacing: 1px;
    border-collapse: separate;
    td {
      padding:3px 10px;
      background-color: #eee;
      color:#999;
      &.lbl {
        background-color:#fff;
        font-style: italic;
        color:#333;
        border-bottom:solid 1px #ddd;
      }
      &.val {
        font-weight: bold;
        color:#333;      
      }
      &.err {       
        color:#999; 
      }
      &.ok {
        background-color: #090;
        color:#fff;
      }
      &.blue {
        background-color: #06c;
        color:#fff; 
      }
      &.bad_data {
        background-color: #fec;
        color:#999;
      }
      &.img-circles {
     border-radius: 10%; // set radius in percents
      }
    }
  }

   table.data1 {
     tr{
      &.dockundock {
        background-color: #fec;
      }
    }
    
   
  }
   table.data2 {
    border-collapse: collapse;
    border:solid 1px #999;

    td {
      padding:3px 10px;
     background : transparent;
      &.lbl {
        background : transparent;
        font-style: italic;
        color:#333;
        border-bottom:solid 1px #ddd;
        border-right:solid 1px #ddd;
      }
      &.val {
        font-weight: bold;
        border-bottom:solid 1px #ddd;
      }
      &.err {
        color: #ff3333;
        background : transparent;
        border-bottom:solid 1px #ddd;
      }
      &.ok {
        background : transparent;
        color:#090;
        border-bottom:solid 1px #ddd;
      }
      &.blue {
        background : transparent;
        color:#fff; 
      }
      &.bad_data {
        background : transparent;
        color:#999;
        border-bottom:solid 1px #ddd;
      }
      &.img-circles {
     border-radius: 10%; // set radius in percents
      }
    }
  }
  
}