/* Gate Widget Styles */
.gate_widget {
  &.alarm {
    background-color: #c00;
    color: #fff;
  }
  .display {
    min-height: 100%;
    min-width: 100%;
    overflow: auto;




    #aircraft_img {
      position: absolute;
      top: 10%;
      left: 1%;
      background-image: url("../img/pbb/Docking_Plane_Not-at-Gate.png") ;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center;
      margin: auto auto;
      display: block;
      height: 100%;
      width: 100%;
      &.docked {
        background-image: url("../img/pbb/Docking_Plane_at-Gate.png");
      }
    }
    #display_label {
      margin-bottom: 3px;
      h1 {
        line-height:48px;
        font-weight: bold;
        margin: 0 0 0 0;
        i.fa {
          margin-right:-5px;
          padding: 5px;
          border-radius: 10px;
          font-size:26px !important;
        }
        i#docked {
          color: #069 !important;
          background-color: #eee !important;
        }
        i#alarms {
          color: #fff !important;
          background-color: #c00 !important;
        }
        i#warnings {
          color: #f90 !important;
          background-color: #eee !important;
        }
      }
    }
    
  }
  
}