/* GPU Widget Styles */
.gpu_widget {
  &.alarm {
    background-color: #c00;
    color: #fff;
  }
  .display {
    min-height: 100%;
    min-width: 100%;
    overflow: auto;
    #gpu_label {
      margin-bottom: 3px;
      h1 {
        line-height:48px;
        font-weight: bold;
        margin: 0 0 0 0;
        i.fa {
          margin-right:-5px;
          padding: 5px;
          border-radius: 10px;
          font-size:26px !important;
        }
        i#docked {
          color: #069;
          background-color: #eee;
        }
        i#alarms {
          color: #fff;
          background-color: #c00;
        }
        i#warnings {
          color: #f90;
          background-color: #eee;
        }
      }
    }

    // Handles the style overrides of the Dual Unit GPU
    table {
      th {
        font-size: 1.5em;
        text-align: center;
        border-bottom: solid 1px #aaa;
        border-left: solid 1px #aaa;
        background-color: #cce;
      }
      &.data {
        width: 75%;
        float: left;
      }
      &.data2 {
        width: 25%;
        th:nth-child(1) {
          display: none;
        }        
        td:nth-child(1) {
          display: none;
          border-left: solid 1px #ddd;
        }
        td:nth-child(2) {
          padding:3px 10px;
          border-bottom: solid 1px #ddd;
        }
      }
    }
  }
}
