// Permissions
#permissions_region, #roles_region {
  h4 {
    margin: 0px 0 0 -5px;
    background-color: #f6f6f6;
    padding: 5px 0 5px 13px;
  }
  h3 {
    margin:0;
    background-color:#cbe1ee;
    padding:5px 0 5px 5px;
  }
  #global_region{
    padding-bottom:20px;
    h3 {
      margin-left:-5px;
    }
  }
  .site_item {
    margin-bottom:10px;
  }
}
#add_claim { 
  cursor: pointer; 
  margin-left: 30px;
  color: #00a65a;
}
#permissions_list { padding:0 0 0 10px; }
.permission_container {
  padding: 5px 0 5px 20px;
  width:100%;
  border-top: 1px dashed #ccc;

  i.fa.fa-lock { color:#ccc; }

  #permission_label {font-size:18px;}

  #permission_desc_container { padding-left: 36px; }

  #permission_name, #permission_buttons, #permission_desc { display:none; }

  &.rw {
    #permission_name, #permission_desc { display:inline !important; }
    #permission_label, #permission_desc_label { display:none !important; }
    #permission_crud { display:none; }
    #permission_buttons { display:inline !important; }
  }
}

// Roles

#add_role { 
  cursor: pointer; 
  margin-left: 30px;
  color: #00a65a;
}
#roles_list { padding:0 0 0 20px; }
.role_container {
  padding: 5px 0 5px 10px;
  width:100%;
  border-top: 1px dashed #ccc;

  i.fa.fa-group { color:#ccc; }

  #role_label {font-size:18px;}

  #role_desc_container { padding-left: 36px; }
  #role_claims_container { padding-left: 36px; }

  #role_name, #role_buttons, #role_desc, #role_claims { display:none; }

  &.rw {
    #role_name, #role_desc, #role_claims { display:inline !important; }
    #role_label, #role_desc_label { display:none !important; }
    #role_crud { display:none; }
    #role_buttons { display:inline !important; }
  }
}