#add_account {
  margin-left:20px;
  cursor: pointer;
}
.preamble {
  padding:0 0 10px 0;
  margin-left:5px;
}

#account_list {
  width:100%;
  .row {
    background-color: rgba(255,255,255,0.5);
  }
}

.account_container {
	border-top: solid 1px #ccc;
  padding:20px 0 0 0;

  .title {
    font-size:21px;
    font-weight:bold;
  }
  
  #account_active {
    // font-size: .75em;
    &.fa-toggle-on { color:#363; }
    &.fa-toggle-off { color:#999; }
  }
  
  #account_name { 
    display:none;
    max-width:90%;
  }

  #account_buttons { display:none; }
  &.rw {
    #account_name { display:inline !important; }
    #account_name_label { display:none; }
    #account_crud { display:none; }
    #account_buttons { display:inline !important; }
    #account_active {
      cursor: pointer;
    }
  }

  .site_list {
    margin-bottom:20px;
    #header {
      margin: 10px 0 5px 30px;
    }
    .row {
      padding-left:20px;
    }
  }
}

.site_container {
  margin-top:10px;
  border-top: dashed 1px #ccc;
  box-sizing: content-box;
  padding:10px 0 0 10px;
  
  #site_active {
    // font-size: .75em;
    &.fa-toggle-on { color:#363; }
    &.fa-toggle-off { color:#999; }
  }
  #site_name { max-width:90%; }

  #site_short, #site_short_label, #site_opc_label, #site_opc, #site_buttons { margin-left:21px }
  #site_buttons {margin-top: 10px;}

  #site_name, #site_abbrev, #site_short, #site_opc, #site_buttons { display:none; }
  &.rw {
    #site_name, #site_abbrev, #site_short, #site_opc { display:inline !important; }
    #site_label, #site_short_label, #site_crud, #site_opc_label { display:none; }
    #site_buttons { display:block !important; }
    #site_active { cursor: pointer; }
  }

}


