.pbb_detail_widget {
  &.alarm {
    background-color: #c00;
    color: #fff;
  }
  .display {
    min-height: 100%;
    min-width: 100%;
    overflow: auto;

    .aircraft_img {
      position: relative;
      float: left;
      background-image: url("../img/pbb/PBB_Un-docked-400x400.gif") ;
      background-repeat: no-repeat; 
      background-position: center center;
      background-size: contain;
      height: 100%;
      width: 100%;
      &.docked {
        background-image: url("../img/pbb/PBB_docked-400x400.gif");
      }
    }
    .autolevel_img {
      position: relative;
      float: left;
      background-image: url("../img/pbb/PBB-AutoLevel-Off-400x400.gif") ;
      background-repeat: no-repeat; 
      background-position: center center;
      background-size: contain;
      height: 100%;
      width: 100%;
      &.autolevel-on {
        background-image: url("../img/pbb/PBB-AutoLevel-On-400x400.gif");
      }
    }
    .canopy_img {
      position: relative;
      float: left;
      background-image: url("../img/pbb/PBB-Canopy-Off-400x400.gif") ;
      background-repeat: no-repeat; 
      background-position: center center;
      background-size: contain;
      height: 100%;
      width: 100%;
      &.canopy-on {
        background-image: url("../img/pbb/PBB-Canopy-On-400x400.gif");
      }
    }
    .elevating_img {
      position: relative;
      float: left;
      background-image: url("../img/pbb/down-position.png") ;
      background-repeat: no-repeat; 
      background-position: center center;
      background-size: contain;
      height: 100%;
      width: 100%;
      &.up {
        background-image: url("../img/pbb/up-position.png");
      }
    }

    #pbbdetail_label {
      margin-bottom: 3px;
      h1 {
        line-height:48px;
        font-weight: bold;
        margin: 0 0 0 0;
        i.fa {
          margin-right:-5px;
          padding: 5px;
          border-radius: 10px;
          font-size:26px !important;
        }
        i#docked {
          color: #069;
          background-color: #eee;
        }
        i#alarms {
          color: #fff;
          background-color: #c00;
        }
        i#warnings {
          color: #f90;
          background-color: #eee;
        }
      }
    }
    
  }
}