.pbb_level_detail_widget {
  &.alarm {
    background-color: #c00;
    color: #fff;
  }
  .display {
    min-height: 100%;
    min-width: 100%;
    overflow: auto;

    #pbb_cab_angle_disp{
    position: absolute;
    left: 46%;
    top: 24%;
    font-size: 13px;
    color:mediumblue;
    background: transparent;
    }

    #pbb_slope_deg{
    position: absolute;
    left: 67%;
    top: 29%;
    font-size: 13px;
    color:mediumblue;
    background: transparent;
    }

    #pbb_swing_angle_disp{
    position: absolute;
    left: 82%;
    top: 33%;
    font-size: 13px;
    color:mediumblue;
    background: transparent;
    }

    #pbb_height_to_disp{
    position: absolute;
    left: 51%;
    top: 51%;
    font-size: 13px;
    color:mediumblue;
    background: transparent;
    }

    #pbb_wheel_angle_deg{
    position: absolute;
    left: 52%;
    top: 59%;
    font-size: 13px;
    color:mediumblue;
    background: transparent;
    }

    #pbb_tunnel_length{
    position: absolute;
    left: 72%;
    top: 52%;
    font-size: 12px;
    color:mediumblue;
    background: transparent;
    }

    #aircraft_img {
      position: absolute;
      top: 10%;
      left: 1%;
      background-image: url("../img/pbb/Docking_Plane_Not-at-Gate.png") ;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center;
      margin: auto auto;
      display: block;
      height: 100%;
      width: 100%;
      &.docked {
        background-image: url("../img/pbb/Docking_Plane_at-Gate.png");
      }
  	}

  }
  
}