.pbb_pca_gpu_status_widget {
  .zone_list {
    margin-left:10px;
    .gate_list {
      margin-left:10px;
      .gate_span {
        margin-right: 10px;
      }
    }
  }

  .display {
    min-height: 100%;
    min-width: 100%;
    overflow: auto;
    #widgetData {
      width: 100%;
      border:solid 1px #999;
      border-spacing: 1px;
      border-collapse: separate;
      thead {
        th {
          font-size: 1.2em;
          text-align: center;
          border-bottom: solid 1px #aaa;
          border-left: solid 1px #aaa;
          background-color: #cce;
        }
      }
      tbody {
        td{
          padding: 2px 5px;
          border-left: solid 1px #ddd;
          border-bottom: solid 1px #ddd;
          &.val {
            background-image:  url("../img/data-status-idle.png");
            background-repeat: no-repeat;
            background-position: center center;
          }
          &.ok {
            background-image:  url("../img/data-status-ok.png");
            background-repeat: no-repeat;
            background-position: center center;
          }
          &.bad_data {
            background-image:  url("../img/data-status-baddata.png");
            background-repeat: no-repeat;
            background-position: center center
          }
          &.no-show {
            visibility: hidden;
            display: none;
          }
          &.show {
            visibility: visible;
          }
          &.show-no-status {
            background-image:  none !important;
          }

        }
        td[id$="_lbl"] {
          background-color:#fff;
          font-style: italic;
          color:#333;
          text-align: left;
        }

        tr#iconRow {
          i {
            display: none;
            text-align: center;
            vertical-align: middle;
            &.fa {
              margin-right:-5px;
              padding: 5px;
              border-radius: 10px;
              font-size:15px !important;
            }
            &.docked {
              color: #069;
              display: inline-block;
            }
            &.bad-data { 
              color:#c00; 
              display: inline-block;
            }
            &.critical { 
              color:#c00; 
              display: inline-block;
              animation: blink 2s ease-in infinite;
            }
            &.alarm { 
              color:#e45f00; 
              display: inline-block;
            }
            &.perfect-hookup { 
              color:#1dc150; 
              display: inline-block;
            }
            &.out-of-service { 
              color:#e10a12; 
              display: inline-block;
            }
          }

        }
        td[id$="_pbb_status"] {

        }
        td[id$="_pca_status"] {

        }
        td[id$="_gpu_status"], tr[id$="_gpu_01_status"], tr[id$="_gpu_02_status"] {

        }
        td[id$="_pca_discharge_temp"] {
          font-size: 12px;
          &.DisCharge {
            text-align: center;
            &.Cooling {
              color: #33adff;
            }
            &.Heating {
              color: #ff3300;
            }
          }

        }
        td[id$="_elvrot_rotunda_status"] {
          background-image: none !important;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }
  @keyframes blink {
    from, to { opacity: 1 }
    50% { opacity: 0 }
  }
}