.pbbdetail_widget {
  &.alarm {
    background-color: #c00;
    color: #fff;
  }
  .display {
    min-height: 100%;
    min-width: 100%;
    overflow: auto;

    #aircraft_img {
      position: relative;
      float: left;
      background-image: url("../img/pbb/PBB_Un-docked-400x400.gif") ;
      background-repeat: no-repeat; 
      background-position: center center;
      background-size: contain;
      height: 100%;
      width: 100%;
      &.docked {
        background-image: url("../img/pbb/PBB_docked-400x400.gif");
      }
    }
    #autolevel_img {
      position: relative;
      float: left;
      background-image: url("../img/pbb/PBB-AutoLevel-Off-400x400.gif") ;
      background-repeat: no-repeat; 
      background-position: center center;
      background-size: contain;
      height: 100%;
      width: 100%;
      &.autolevelon {
        background-image: url("../img/pbb/PBB-AutoLevel-On-400x400.gif");
      }
    }
    #canopy_img {
      position: relative;
      float: left;
      background-image: url("../img/pbb/PBB-Canopy-Off-400x400.gif") ;
      background-repeat: no-repeat; 
      background-position: center center;
      background-size: contain;
      height: 100%;
      width: 100%;
      &.canopyon {
        background-image: url("../img/pbb/PBB-Canopy-On-400x400.gif");
      }
    }

    #pbbdetail_label {
      margin-bottom: 3px;
      h1 {
        line-height:48px;
        font-weight: bold;
        margin: 0 0 0 0;
        i.fa {
          margin-right:-5px;
          padding: 5px;
          border-radius: 10px;
          font-size:26px !important;
        }
        i#docked {
          color: #069;
          background-color: #eee;
        }
        i#alarms {
          color: #fff;
          background-color: #c00;
        }
        i#warnings {
          color: #f90;
          background-color: #eee;
        }
      }
    }
    
  }
  

   table.data1 {
     tr{
      &.dockundock {
        background-color: #090;
      }
    }
    
   
  }
  table.data2 {
   
    border:solid 1px #999;
    border-spacing: 1px;
    border-collapse: separate;
    tr{
        &.dockundock {
        background-color: #090;
        }
      }
    td {
      padding:3px 10px;
      
      color:#999;
      &.lbl {
        background-color:#fff;
        font-style: italic;
        color:#333;
        border-bottom:solid 1px #ddd;
      }
      &.val {
        font-weight: bold;
        color:#333; 
      }
      
      &.ok {
        
        color:#090;
      }

      &.blue {
        background-color: #06c;
        color:#fff; 
      }
      &.bad_data {
        background-color: #fec;
        color:#999;
      }
      &.img-circles {
     border-radius: 10%; // set radius in percents
      }
    }
  }
  
}