/* PCA Widget Styles */
.pca_summary_widget {
  #plot_container {
    #options {
      min-width:100px;
      width:18%;
      font-size:18px;
      text-align:left;
    }
    #plot_data {
      width:82%;
      position:relative;
    }
  }

  #ptype_lbl {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  #live_container {
    label {
      font-size:12px !important;
      margin-bottom:0 !important;
    }
  }


  &.alarm {
    background-color: #c00;
    color: #fff;
  }

  .bad_data {
    width: 100%;
    
    position: absolute;
    top: 30%;
    left: 0;
    padding-top: 60%;
    border-radius: 10px;
    text-align: center;
    color: #c00;
    font-weight: bold;
    font-size: 18px;
    border: 0;
  }   

  #pca_coil_dp {
    position: absolute;
    left: 45%;
    top: 20%;
    font-size: 12px;
    font-weight: bold;
    color:#333;
  }
  #pca_bridge_damper{
    position: absolute;
    left: 27%;
    top: 70%;
    font-size: 12px;
    font-weight: bold;
    color:#333;
  }
  #pca_bridge_air{
    position: absolute;
    left: 26%;
    top: 30%;
    font-size: 12px;
    font-weight: bold;
    color:#333;
  }
  #pca_pump_cond{
    position: absolute;
    left: 77%;
    top: 90%;
    font-size: 12px;
    font-weight: bold;
    color:#333;
  }
  #pca_vfd_speed{
    position: absolute;
    left: 72%;
    top: 41%;
    font-size: 12px;
    font-weight: bold;
    color:#333;
  }
  #pca_ambient_humidity{
    position: absolute;
    left: 77%;
    top: 84%;
    font-size: 12px;
    font-weight: bold;
    color:#333;
  }
  #pca_suction_pressure_1{
    position: absolute;
    left: 63%;
    top: 78%;
    font-size: 12px;
    font-weight: bold;
    color:#333;
  }
  #pca_suction_pressure_2{
    position: absolute;
    left: 75%;
    top: 78%;
    font-size: 12px;
    font-weight: bold;
    color:#333;
  }
  #pca_suction_pressure_3{
    position: absolute;
    left: 88%;
    top: 78%;
    font-size: 12px;
    font-weight: bold;
    color:#333;
  }
  #pca_headpri1{
    position: absolute;
    left: 63%;
    top: 84%;
    font-size: 12px;
    font-weight: bold;
    color:#333;
  }
  #pca_headpri2{
    position: absolute;
    left: 75%;
    top: 84%;
    font-size: 12px;
    font-weight: bold;
    color:#333;
  }
  #pca_headpri3{
    position: absolute;
    left: 88%;
    top: 84%;
    font-size: 12px;
    font-weight: bold;
    color:#333;
  }
  #pca_hot_gas_1{
    position: absolute;
    left: 70%;
    top: 80%;
    font-size: 12px;
    font-weight: bold;
    color:#333;
  }
  #pca_hot_gas_2{
    position: absolute;
    left: 80%;
    top: 80%;
    font-size: 12px;
    font-weight: bold;
    color:#333;
  }
  #pca_modeofoperation{
    position: absolute;
    left: 88%;
    top: 15%;
    font-size: 12px;
    font-weight: bold;
    color:#333;
  }
  #power_indicator {
    position: absolute;
    top: 14%;
    left: 6%;
    font-size: 22px;
    font-weight: bold;
    .inactive {
      color:#ccc;
    }
    .active {
      color:#090;
    }
  }

  #txt_connected_time {
    position: absolute;
    left: 20%;
    top: 15%;
    font-size: 18px;
    color:#090;
  }

  div[id^='gauge_'] {
    position: absolute;
    bottom: 11%;
    left: 1.5%;
    width: 30%;
    height: 100%;
  }

  div[id^='amps_'] {
    position: absolute;
    top: 23%;
    left: 1.5%;
    width: 30%;
    height: 100%;
  } 

  .display {
    min-height: 100%;
    min-width: 100%;
    overflow: auto;

    div.background {/* default background image */
      position: absolute;
      z-index: -100;
      padding: 0;
      margin: 0;
      height: 90%;
      width: 70%;
      top: 5%;
      left: 30%;      
      background-repeat: no-repeat; 
      background-position: center center;
      background-size: 100%;
      background-image: url("../img/pca/Inet-Model-001/Rev-001/Inet_PCAire-Main.png") ;
      &.jetair-xpc-3013 {
        background-image: url("../img/pca/JetAir-XPC-3013/Rev-001/30-Ton-PCA-Base-Image.png") ;
      }
      &.jetway-100 {
        background-image: url("../img/pca/Jetway-100/Rev-001/100-Ton-PCA-Base-Unit.png") ;
      }
      &.jetway-twist-75 {
        background-image: url("../img/pca/Jetway-Twist-75/Rev-001/TwistAero-PCA-Base-Unit.png") ;
      }
      &.SJ_90 {
        background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-Base-Unit.png") ;
      }
      &.jetway-20 {
        background-image: url("../img/pca/Jetway-20/Rev-001/20-Ton-PCA-Base-Unit.png") ;
      }
      &.inet-60 {
        background-image: url("../img/pca/Inet-Model-001/Rev-001/Inet_PCAire-Main.png") ;
      }
      &.inet-pdx-10 {
        background-image: url("../img/pca/Inet-PDX-10/Rev-001/InetPDX-10-Base-Unit.png") ;
      }
      &.inet-pdx-15 {
        background-image: url("../img/pca/Inet-PDX-15/Rev-001/InetPDX-15-Base.png") ;
      }
      &.inet-pdx-25 {
        background-image: url("../img/pca/Inet-PDX-25/Rev-001/InetPDX-25s-Base-Unit.png") ;
      }
      &.inet-pdx-40 {
        background-image: url("../img/pca/Inet-PDX-40/Rev-001/InetPDX-40-Base-Unit.png") ;
      }

    }
    div.img {/* default overlays */
      position: absolute;
      background-repeat: no-repeat; 
      background-position: center center;
      background-size: 100%;
      height: 100%;
      width: 100%;
      background-image: none;
      &.blower-on {
        background-image: url("../img/pca/Inet-Model-001/Rev-001/Blower.png");
      }
      &.cooling-stage-1-on {
        background-image: url("../img/pca/Inet-Model-001/Rev-001/Cooling-Stage-1.png");
      }
      &.cooling-stage-2-on {
        background-image: url("../img/pca/Inet-Model-001/Rev-001/Cooling-Stage-2.png");
      }
      &.heating-stage-1-on {
        background-image: url("../img/pca/Inet-Model-001/Rev-001/Heat-Stage-1.png");
      }
      &.heating-stage-2-on {
        background-image: url("../img/pca/Inet-Model-001/Rev-001/Heat-Stage-2.png");
      }
      &.ac-cool-on {
        background-image: url("../img/pca/Inet-Model-001/Rev-001/AC-Cool.png");
      }
      &.bc-cool-on {
        background-image: url("../img/pca/Inet-Model-001/Rev-001/BC-Cool.png");
      }
      &.SJ_90 {
        &.blower-on {
          background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-Blower.png");
        }
        &.filter-on {
           background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-Filters.png");
        }
        &.cooling-stage-1-on {
          background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-Comp-3.png");
        }
        &.cooling-stage-2-on {
          background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-Comp-2.png");
        }
        &.cooling-stage-3-on {
          background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-Comp-1.png");
        }
        &.cond-coil-1-on {
          background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-Cond-Coil-1.png");
        }
        &.cond-coil-2-on {
          background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-Cond-Coil-2.png");
        }
        &.cond-coil-3-on {
          background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-Cond-Coil-3.png");
        }
        &.evap-coil-1-on {
          background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-Evap-Cool-1.png");
        }
        &.evap-coil-2-on {
          background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-Evap-Cool-2.png");
        }
        &.evap-coil-3-on {
          background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-Evap-Cool-3.png");
        }
        &.heating-stage-1-on {
          background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-Heat-1.png");
        }
        &.heating-stage-2-on {
          background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-Heat-2.png");
        }
        &.heating-stage-3-on {
          background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-Heat-3.png");
        }
        &.ac-cool-on {
          background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-Aircraft-Cool.png"); 
        }
        &.bc-cool-on {
          background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-Bridge-Cool.png"); 
        }
        &.fan-1-on {
           background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-Blower.png");
        }
        &.cfan-1-on {
           background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-CBlower1.png");
        }
        &.cfan-2-on {
           background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-CBlower2.png");
        }
        &.cfan-3-on {
           background-image: url("../img/pca/SJ_90/Rev-001/SJ-90-CBlower3.png");
        }
      }
      &.jetair-xpc-3013 {
        &.blower-on {
          background-image: url("../img/pca/JetAir-XPC-3013/Rev-001/30-Ton-PCA-Blower.png");
        }
        &.cooling-stage-1-on {
          background-image: url("../img/pca/JetAir-XPC-3013/Rev-001/30-Ton-PCA-Cooling-1.png");
        }
        &.cooling-stage-2-on {
          background-image: url("../img/pca/JetAir-XPC-3013/Rev-001/30-Ton-PCA-Cooling-2.png");
        }
        &.heating-stage-1-on {
          background-image: url("../img/pca/JetAir-XPC-3013/Rev-001/30-Ton-PCA-Haet-1.png");
        }
        &.heating-stage-2-on {
          background-image: url("../img/pca/JetAir-XPC-3013/Rev-001/30-Ton-PCA-Haet-2.png");
        }
        &.ac-cool-on {
          background-image: url("../img/pca/JetAir-XPC-3013/Rev-001/30-Ton-PCA-Aircraft-Output-Damper.png"); 
        }
        &.bc-cool-on {
          background-image: url("../img/pca/JetAir-XPC-3013/Rev-001/30-Ton-PCA-Bridge-Cool-Output-Damper.png"); 
        }
        &.fan-1-on {
           background-image: url("../img/pca/JetAir-XPC-3013/Rev-001/30-Ton-PCA-Fan-1.png");
        }
        &.fan-2-on {
           background-image: url("../img/pca/JetAir-XPC-3013/Rev-001/30-Ton-PCA-Fan-2.png");
        }
        &.fan-3-on {
           background-image: url("../img/pca/JetAir-XPC-3013/Rev-001/30-Ton-PCA-Fan-3.png");
        }
      }
      &.jetway-twist-75 {
        &.blower-on {
          background-image: url("../img/pca/Jetway-Twist-75/Rev-001/Blower.png");
        }
        &.cooling-stage-1-on {
          background-image: url("../img/pca/Jetway-Twist-75/Rev-001/Cooling-1.png");
        }
        &.cooling-stage-2-on {
          background-image: url("../img/pca/Jetway-Twist-75/Rev-001/Cooling-2.png");
        }
        &.cooling-stage-3-on {
          background-image: url("../img/pca/Jetway-Twist-75/Rev-001/Cooling-3.png");
        }
        &.heating-stage-1-on {
          background-image: url("../img/pca/Jetway-Twist-75/Rev-001/HTR-1.png");
        }
        &.heating-stage-2-on {
          background-image: url("../img/pca/Jetway-Twist-75/Rev-001/HTR-2.png");
        }
        &.heating-stage-3-on {
          background-image: url("../img/pca/Jetway-Twist-75/Rev-001/HTR-3.png");
        }
        &.ac-cool-on {
          background-image: url("../img/pca/Jetway-Twist-75/Rev-001/Aircraft-Mode.png");
        }
        &.fan-1-on {
           background-image: url("../img/pca/Jetway-Twist-75/Rev-001/Fan-1.png");
        }
        &.fan-2-on {
           background-image: url("../img/pca/Jetway-Twist-75/Rev-001/Fan-2.png");
        }
        &.filter-on {
           background-image: url("../img/pca/Jetway-Twist-75/Rev-001/Filters-On.png");
        }
      }
      &.jetway-100 {
        &.blower-on {
          background-image: url("../img/pca/Jetway-100/Rev-001/100-Ton-PCA-Blower-On.png");
        }
        &.cooling-stage-1-on {
          background-image: url("../img/pca/Jetway-100/Rev-001/100-Ton-PCA-Comp-1.png");
        }
        &.cooling-stage-2-on {
          background-image: url("../img/pca/Jetway-100/Rev-001/100-Ton-PCA-Comp-2.png");
        }
        &.cooling-stage-3-on {
          background-image: url("../img/pca/Jetway-100/Rev-001/100-Ton-PCA-Comp-3.png");
        }
        &.cooling-stage-4-on {
          background-image: url("../img/pca/Jetway-100/Rev-001/100-Ton-PCA-Comp-4.png");
        }
        &.heating-stage-1-on {
          background-image: url("../img/pca/Jetway-100/Rev-001/100-Ton-PCA-HTR-1.png");
        }
        &.heating-stage-2-on {
          background-image: url("../img/pca/Jetway-100/Rev-001/100-Ton-PCA-HTR-2.png");
        }
        &.heating-stage-3-on {
          background-image: url("../img/pca/Jetway-100/Rev-001/100-Ton-PCA-HTR-3.png");
        }
        &.heating-stage-4-on {
          background-image: url("../img/pca/Jetway-100/Rev-001/100-Ton-PCA-HTR-4.png");
        }
        &.heating-stage-5-on {
          background-image: url("../img/pca/Jetway-100/Rev-001/100-Ton-PCA-HTR-5.png");
        }
        &.ac-cool-on {
          background-image: url("../img/pca/Jetway-100/Rev-001/100-Ton-PCA-Aircraft-Cool.png");
        }
        &.bc-cool-on {
          background-image: url("../img/pca/Jetway-100/Rev-001/100-Ton-PCA-Bridge-Cool.png");
        }
        &.fan-1-on {
           background-image: url("../img/pca/Jetway-100/Rev-001/100-Ton-PCA-FAN-1.png");
        }
        &.fan-2-on {
           background-image: url("../img/pca/Jetway-100/Rev-001/100-Ton-PCA-FAN-2.png");
        }
        &.fan-3-on {
           background-image: url("../img/pca/Jetway-100/Rev-001/100-Ton-PCA-FAN-3.png");
        }
        &.fan-4-on {
           background-image: url("../img/pca/Jetway-100/Rev-001/100-Ton-PCA-FAN-4.png");
        }
        &.filter-on {
           background-image: url("../img/pca/Jetway-100/Rev-001/100-Ton-PCA-Dirty-Filter.png");
        }
      }
      &.jetway-20 {
        &.blower-on {
          background-image: url("../img/pca/Jetway-20/Rev-001/20-Ton-PCA-Blower.png");
        }
        &.cooling-stage-1-on {
          background-image: url("../img/pca/Jetway-20/Rev-001/20-Ton-PCA-Comp-Pri-1.png");
        }
        &.cooling-stage-2-on {
          background-image: url("../img/pca/Jetway-20/Rev-001/20-Ton-PCA-Comp-Sec-1.png");
        }
        &.heating-stage-1-on {
          background-image: url("../img/pca/Jetway-100/Rev-001/20-Ton-PCA-Heat-1.png");
        }
        &.heating-stage-2-on {
          background-image: url("../img/pca/Jetway-100/Rev-001/20-Ton-PCA-Heat-2.png");
        }
        &.ac-cool-on {
          background-image: url("../img/pca/Jetway-20/Rev-001/20-Ton-PCA-Damper-Airplane.png");
        }
        &.bc-cool-on {
          background-image: url("../img/pca/Jetway-20/Rev-001/20-Ton-PCA-Damper-Bridge.png");
        }
        &.fan-1-on {
           background-image: url("../img/pca/Jetway-20/Rev-001/20-Ton-PCA-Fan-1.png");
        }
        &.fan-2-on {
           background-image: url("../img/pca/Jetway-20/Rev-001/20-Ton-PCA-Fan-1.png");
        }
      } 
      &.inet-60 {
        &.blower-on {
          background-image: url("../img/pca/Inet-Model-001/Rev-001/Blower.png");
        }
        &.cooling-stage-1-on {
          background-image: url("../img/pca/Inet-Model-001/Rev-001/Cooling-Stage-1.png");
        }
        &.cooling-stage-2-on {
          background-image: url("../img/pca/Inet-Model-001/Rev-001/Cooling-Stage-2.png");
        }
        &.heating-stage-1-on {
          background-image: url("../img/pca/Inet-Model-001/Rev-001/Heat-Stage-1.png");
        }
        &.heating-stage-2-on {
          background-image: url("../img/pca/Inet-Model-001/Rev-001/Heat-Stage-2.png");
        }
        &.ac-cool-on {
          background-image: url("../img/pca/Inet-Model-001/Rev-001/AC-Cool.png");
        }
        &.bc-cool-on {
          background-image: url("../img/pca/Inet-Model-001/Rev-001/BC-Cool.png");
        }
      }
     &.inet-pdx-15 {
        &.blower-on {
          background-image: url("../img/pca/Inet-PDX-15/Rev-001/InetPDX-15-Blower.png");
        }
        &.cooling-stage-1-on {
          background-image: url("../img/pca/Inet-PDX-15/Rev-001/InetPDX-15-Pri-Comp-1.png");
        }
        &.cooling-stage-2-on {
          background-image: url("../img/pca/Inet-PDX-15/Rev-001/InetPDX-15-Pri-Comp-2.png");
        }
        &.heating-stage-1-on {
          background-image: url("../img/pca/Inet-PDX-15/Rev-001/InetPDX-15-Heat-1.png");
        }
        &.heating-stage-2-on {
          background-image: url("../img/pca/Inet-PDX-15/Rev-001/InetPDX-15-Heat-2.png");
        }
        &.ac-cool-on {
          background-image: url("../img/pca/Inet-PDX-15/Rev-001/InetPDX-15-Aircraft-Cool.png");
        }
        &.filters-on {
          background-image: url("../img/pca/Inet-PDX-15/Rev-001/InetPDX-15-Filters.png");
        }
        &.fan-1-on {
          background-image: url("../img/pca/Inet-PDX-15/Rev-001/InetPDX-15-Fan-1.png");
        }
        &.fan-2-on {
          background-image: url("../img/pca/Inet-PDX-15/Rev-001/InetPDX-15-Fan-2.png");
        }
     }
     &.inet-pdx-10 {
        &.blower-on {
          background-image: url("../img/pca/Inet-PDX-10/Rev-001/InetPDX-10-Blower.png");
        }
        &.cooling-stage-1-on {
          background-image: url("../img/pca/Inet-PDX-10/Rev-001/InetPDX-10-Cooling-Pri.png");
        }
        &.cooling-stage-2-on {
          background-image: url("../img/pca/Inet-PDX-10/Rev-001/InetPDX-10-Cooling-Sec.png");
        }
        &.heating-stage-1-on {
          background-image: url("../img/pca/Inet-PDX-10/Rev-001/InetPDX-10-Heat-1.png");
        }
        &.heating-stage-2-on {
          background-image: url("../img/pca/Inet-PDX-10/Rev-001/InetPDX-10-Heat-2.png");
        }
        &.ac-cool-on {
          background-image: url("../img/pca/Inet-PDX-10/Rev-001/InetPDX-10-Aircraft-Mode.png");
        }
        &.filters-on {
          background-image: url("../img/pca/Inet-PDX-10/Rev-001/InetPDX-10-Filter.png");
        }
        &.evap-coil-on {
          background-image: url("../img/pca/Inet-PDX-10/Rev-001/InetPDX-10-Evap-Coils.png");
        }
     } 
      &.inet-pdx-25 {
        &.blower-on {
          background-image: url("../img/pca/Inet-PDX-25/Rev-001/InetPDX-25s-Blower.png");
        }
        &.cooling-stage-1-on {
          background-image: url("../img/pca/Inet-PDX-25/Rev-001/InetPDX-25s-Cooling-Stage-1.png");
        }
        &.cooling-stage-2-on {
          background-image: url("../img/pca/Inet-PDX-25/Rev-001/InetPDX-25s-Cooling-Stage-2.png");
        }
        &.cooling-stage-3-on {
          background-image: url("../img/pca/Inet-PDX-25/Rev-001/InetPDX-25s-Cooling-Stage-3.png");
        }
        &.heating-stage-1-on {
          background-image: url("../img/pca/Inet-PDX-25/Rev-001/InetPDX-25s-Heat-1.png");
        }
        &.heating-stage-2-on {
          background-image: url("../img/pca/Inet-PDX-25/Rev-001/InetPDX-25s-Heat-2.png");
        }
        &.heating-stage-3-on {
          background-image: url("../img/pca/Inet-PDX-25/Rev-001/InetPDX-25s-Heat-3.png");
        }
        &.ac-cool-on {
          background-image: url("../img/pca/Inet-PDX-25/Rev-001/InetPDX-25s-Aircraft-Mode.png");
        }
        &.filters-on {
          background-image: url("../img/pca/Inet-PDX-25/Rev-001/InetPDX-25s-Filters.png");
        }
        &.fans-on {
          background-image: url("../img/pca/Inet-PDX-25/Rev-001/InetPDX-25s-Fans.png");
        }
     } 
      &.inet-pdx-40 {
        &.blower-on {
          background-image: url("../img/pca/Inet-PDX-40/Rev-001/InetPDX-40-Blower.png");
        }
        &.cooling-stage-1-on {
          background-image: url("../img/pca/Inet-PDX-40/Rev-001/InetPDX-40-Cooling-1.png");
        }
        &.cooling-stage-2-on {
          background-image: url("../img/pca/Inet-PDX-40/Rev-001/InetPDX-40-Cooling-2.png");
        }
        &.cooling-stage-3-on {
          background-image: url("../img/pca/Inet-PDX-40/Rev-001/InetPDX-40-Cooling-3.png");
        }
        &.heating-stage-1-on {
          background-image: url("../img/pca/Inet-PDX-40/Rev-001/InetPDX-40-Heat-1.png");
        }
        &.heating-stage-2-on {
          background-image: url("../img/pca/Inet-PDX-40/Rev-001/InetPDX-40-Heat-2.png");
        }
        &.heating-stage-3-on {
          background-image: url("../img/pca/Inet-PDX-40/Rev-001/InetPDX-40-Heat-3.png");
        }
        &.ac-cool-on {
          background-image: url("../img/pca/Inet-PDX-40/Rev-001/InetPDX-40-Aircraft-Coole.png");
        }
        &.filters-on {
          background-image: url("../img/pca/Inet-PDX-40/Rev-001/InetPDX-40-Filters.png");
        }
        &.fans-on {
          background-image: url("../img/pca/Inet-PDX-40/Rev-001/InetPDX-40-Fans.png");
        }
     } 
    }
    div.val {

    }

    #display_label {
      margin-bottom: 3px;
      h1 {
        line-height:48px;
        font-weight: bold;
        margin: 0 0 0 0;
        i.fa {
          margin-right:-5px;
          padding: 5px;
          border-radius: 10px;
          font-size:26px !important;
        }
        i#docked {
          color: #069;
          background-color: #eee;
        }
        i#alarms {
          color: #fff;
          background-color: #c00;
        }
        i#warnings {
          color: #f90;
          background-color: #eee;
        }
      }
    }
    
  }
}